<div *ngIf="loader"><app-loader></app-loader></div>

<div *ngIf="!loader" class="device" >
    <div class="circles">
        <div class="main-card">
            <div class="card-1">
                <div class="flexRow" style="height:70px;">
                    <div class="icon-1">
                        <i class="fa-solid fa-tv"></i>
                    </div>

                    <div class="colored-text" >
                        <h5>{{ device.deviceName }}</h5>
                    </div>
                        <!--
                        <p-button label="Edit" (click)="showEditDeviceDialog()" class="margin-left__auto" style="border-radius:32px !important;"/>
                        <p-button label="Delete" (onClick)="deleteDevice(device.id)" class="margin-left__8px"/>
                        -->

                    <div class="menu">
                        <div class="icon-3">
                            <i class="fa-solid fa-bars"></i>
                        </div>
                    </div>

                    <div class="menu-container">
                        <div class="float-element "><div class="icon-3"><i class="fa-solid fa-pen-to-square"></i></div></div>
                        <div class="float-element "><div class="icon-3"><i class="fa-solid fa-trash"></i></div></div>
                        <div class="float-element "><div class="icon-3"><i class="fa-solid fa-toggle-on"></i></div></div>
                        <!--<i class="fa-solid fa-toggle-off"></i>-->
                    </div>
                </div>
                <div class="title1">
                    <h5>Consumption this hour</h5>
                </div>
    
                <div class="subtitle">
                    <h5>5.5% more than last hour</h5>
                </div>
        
                <div class=" circle circle-1">
                    <div class="circle circle-2">
                        <div class="circle-icon">
                            <i class="fa-solid fa-bolt"></i>
                        </div>
    
                        <div class="main-stat">
                            <span>15.24</span> 
                        </div>
    
                        <div class="kwh">
                            <span>kWh</span>
                        </div>
                    </div>
                </div>
            </div>
              
            
        </div>  
        
        <div class="card-2">
            <div class="card-2-1" >
                <div class="stats">
                    <div style="width:100%; height:fit-content; position:relative;">
                        <div class="icon">
                            <span><i class="fa-solid fa-arrow-trend-up"></i></span>
                        </div>

                        <div class="subtitle-card">
                            <span>Consumption today</span>
                        </div>
                    </div>
                    <div style="width:100%; height:fit-content; position:relative;">
                        <div class="main-stat-card">
                            <span>4.4</span> 
                        </div>

                        <div class="kwh-card">  
                            <span>kWh</span>
                        </div>
                    </div>

                    <div class="subtitle-2">  
                        <span>6.2% more than yesterday</span>
                    </div>
                </div>
            </div>
            <div class="card-2-2" >
                <div class="stats">
                    <div style="width:100%; height:fit-content; position:relative;">
                        <div class="icon">
                            <span><i class="fa-solid fa-arrow-trend-down"></i></span>
                        </div>

                        <div class="subtitle-card">
                            <span>Consumption this week</span>
                        </div>
                    </div>

                    <div style="width:100%; height:fit-content; position:relative;">
                        <div class="main-stat-card">
                            <span>15.24</span> 
                        </div>

                        <div class="kwh-card">  
                            <span>kWh</span>
                        </div>
                    </div>

                    <div class="subtitle-2">  
                        <span>2.4% less than last week</span>
                    </div>
                </div>
            </div>   
        </div>
        
        <div class="card-2 card-3">
            <div class="card-2-1" >
                <div class="stats">
                    <div style="width:100%; height:fit-content; position:relative;">
                        <div class="icon">
                            <span><i class="fa-solid fa-arrow-trend-down"></i></span>
                        </div>

                        <div class="subtitle-card">
                            <span>Consumption this month</span>
                        </div>
                    </div>

                    <div style="width:100%;  position:relative;">
                        <div class="main-stat-card">
                            <span>274.24</span> 
                        </div>

                        <div class="kwh-card">  
                            <span>kWh</span>
                        </div>
                    </div>

                    <div class="subtitle-2">  
                        <span>32.4% less than last month</span>
                    </div>
                </div>
            </div>
                
            <div  class="card-2-2" >
                <div class="stats">
                    <div style="width:100%; height:fit-content; position:relative;">
                        <div class="icon">
                            <span><i class="fa-solid fa-arrow-trend-up"></i></span>
                        </div>

                        <div class="subtitle-card">
                            <span>Consumption this year</span>
                        </div>
                    </div>

                    <div style="width:100%; height:fit-content; position:relative;">
                        <div class="main-stat-card">
                            <span>6745</span> 
                        </div>

                        <div class="kwh-card">  
                            <span>kWh</span>
                        </div>
                    </div>

                    <div class="subtitle-2">  
                        <span>100% more than last year</span>
                    </div>
                </div>
            </div>   
        </div>
    </div>
    
    <div class="manage-device">
    
    </div>
    
    <div class="info" >
        <div id="deviceInformation" class="flexColumn device-information" >
            <div class="flexRow">
                <div class="colored-text2" ><h5>Device description</h5></div>
            </div>
    
            <div class="flexRow margin-top__16px">
            <span>ID:</span>
            <span class="margin-left__auto text-secondary">{{ device.id }}</span>
            </div>
    
            <div class="flexRow margin-top__8px">
            <span>Model:</span>
            <span class="margin-left__auto text-secondary">{{ device.deviceModel }}</span>
            </div>
    
            <div class="flexRow margin-top__8px">
            <span >Type:</span>
            <span class="margin-left__auto text-secondary">{{ device.deviceType }}</span>
            </div>
    
            <div class="flexRow margin-top__8px">
            <span class="bold-text">Room:</span>
            <span class="margin-left__auto text-secondary">{{ device.room }}</span>
            </div>
    
            <div class="flexRow margin-top__16px">
            <span >Visible to operators:</span>
            <p-inputSwitch [(ngModel)]="device.allowOperatorVisibility" (onChange)="handleVisibilitySwitchChange()" class="margin-left__auto width__fit-content"/>
            </div>
    
            <div class="flexRow margin-top__8px">
            <span >Managed by operators:</span>
            <p-inputSwitch [(ngModel)]="device.allowOperatorControll" (onChange)="handleManagementSwitchChange()" class="margin-left__auto width__fit-content"/>
            </div>
        </div>
    </div>

    <div class="display:flex;position:relative; width:100%; height:fit-content;flex-direction:row;">
        <p-dropdown  appendTo="body" optionLabel="name" style="margin-right:5%"  >
        </p-dropdown>
        <p-dropdown  appendTo="body" optionLabel="name" style="margin-right:5%" >
        </p-dropdown>
        <p-dropdown  appendTo="body" optionLabel="name"  >
        </p-dropdown>
    </div>

    <div class="stats-cards">
        
        <app-stats-card class="stats-card" [isBgBlue]="true" [Title]="'Minimal consumed electricity this week'" [subTitle]="'23kWh (2%)'" [value]="'34 kwh'" [hasIcon]="false"></app-stats-card>
        <app-stats-card class="stats-card" [isBgPurple]="true" [Title]="'Maximum consumed electricity this week'" [subTitle]="'23kWh (2%)'" [value]="'34 kwh'" [hasIcon]="false"></app-stats-card>
        <app-stats-card class="stats-card" [isBgPink]="true" [Title]="'Average consumed electricity this week'" [subTitle]="'23kWh (2%)'" [value]="'34 kwh'" [hasIcon]="false"></app-stats-card>
        <app-stats-card class="stats-card" [isBgOrange]="true" [Title]="'Total consumed electricity this week'" [subTitle]="'23kWh (2%)'" [value]="'34 kwh'" [hasIcon]="false"></app-stats-card>
       
    </div>
    
    <div class="twoCharts">
        <p-selectButton class="flexRow width__fit-content margin-left__auto" style="margin-bottom:16px;margin-top:16px;" [options]="switchOptions" [(ngModel)]="switchValue" optionLabel="label" optionValue="value"></p-selectButton>
        <app-history-line-chart #myChart2 class="handf" *ngIf="switchValue == true" [array] = 'array4' [array2] = 'date1'></app-history-line-chart>
        <app-forecast-line-chart #myChart1 class="handf" *ngIf="switchValue == false"  [array]="array5" [array2] = 'date2'></app-forecast-line-chart>
    </div>

    
    <p-table class="d-table" [value]="hif"  #dtUsers class="ui-table-default"  dataKey="id" [scrollable]="true" 
              [rows]="7"
              [globalFilterFields]="['date1','history','date2','forecast']"
              style="
                  margin-top:calc(8%);
                  display: flex;
                  position: relative;
                  flex-direction: column;
                  height: fit-content;
                  width: 100%;
                  border-radius: 20px;
                  background: linear-gradient(180deg, #1e1e1e 30%, #121212 100%) ;
                  margin-bottom:30px;
                  box-shadow: 5px 5px 15px black;
                  transition: ease-in-out;
                  padding:10px 20px 30px 20px;">
    
              <ng-template pTemplate="caption">
                  <div class="flexRow">
                      <h3 >
                      Users</h3>
                      <span class="p-input-icon-left margin-left__auto margin-right__16px">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text" (input)="dtUsers.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
                      </span>
                      <!--<button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dtUsers)"></button>
                      -->
                    </div>
                </ng-template>
      
                <ng-template pTemplate="header">
                    <tr>
                    <th pSortableColumn="firstName" style="min-width:8rem;  border-top:4px solid #46c5f1; border-bottom:4px solid #46c5f1;">
                        <div class="flexRow">
                            <p style=" font-size: 18px !important;">Date</p>
                            <p-sortIcon field="firstName"></p-sortIcon>
                            <p-columnFilter class="ml-auto" type="text" field="firstName" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="lastName" style="min-width:9rem;  border-top:4px  solid #46c5f1; border-bottom:4px solid #46c5f1;">
                        <div class="flexRow">
                            <p style=" font-size: 18px !important;">name</p>
                            <p-sortIcon field="lastName"></p-sortIcon>
                            <p-columnFilter class="ml-auto" type="text" field="lastName" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="email" style="min-width:10rem;  border-top:4px  solid #46c5f1; border-bottom:4px  solid #46c5f1;;">
                        <div class="flexRow">
                            <p style=" font-size: 18px !important;">Date</p>
                            <p-sortIcon field="email"></p-sortIcon>
                            <p-columnFilter class="ml-auto" type="text" field="email" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="role" style="min-width:8rem; border-top:4px  solid #46c5f1;; border-bottom:4px solid #46c5f1;">
                        <div class="flexRow">
                            <p style=" font-size: 18px !important;">name2</p>
                            <p-sortIcon field="role"></p-sortIcon>
                            <p-columnFilter class="ml-auto" type="text" field="role" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    </tr>
                </ng-template>
      
                <ng-template pTemplate="body" let-hif>
                    <tr>
                    <td>{{hif.date1}}</td>
                    <td>
                        <b>{{hif.history}} kwh</b>
                    </td>
                    <td>{{hif.date2}}</td>
                    <td>
                        <b>{{hif.forecast}} kwh</b> <br>
                        <span [style.color]="(hif.forecast - hif.history > 0) ? '#eb4886' : '#46c5f1'">
                        {{(hif.forecast - hif.history).toFixed(2)}}{{(hif.forecast - hif.history > 0) ? ' kWh more' : ' kWh less'}} 
                        </span> than last week
                    </td>
                    </tr>
                </ng-template>
      
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5">No info found.</td>
                    </tr>
                </ng-template>
            </p-table> 
</div>
   





<p-dialog id="editDeviceDialogId" [style]="{width:'40%'}"
  [draggable]="false" [keepInViewport]="true" [resizable]="false" 
  [blockScroll]="true" [closeOnEscape]="true" 
  [modal]="true" [(visible)]="displayEditDeviceDialog" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
  [closable]="true" >
  <ng-template pTemplate="header" class="header-dialog">
    <span>Edit device</span>
  </ng-template>
  
  <ng-template pTemplate="content">
    <form id="editDeviceDialogForm" >  
      <div class="p-inputgroup p-inputtext-lg p-input-filled">
        <div class="half">
          Device type
          <p-dropdown [options]="types" [(ngModel)]="typeSelected" name="typeSelected" appendTo="body" optionLabel="name" />
          Device model
          <p-dropdown [options]="models" [(ngModel)]="modelSelected" name="modelSelected" appendTo="body" optionLabel="name" />
        </div> 
        
        <div class="half">
            Room
          <p-dropdown [options]="rooms" [(ngModel)]="roomSelected" name="roomSelected" appendTo="body" optionLabel="name" />
            Name
          <input style="margin-top:45px;" [(ngModel)]="nameSelected" name="nameSelected" appendTo="body" type="text" class="p-inputtext-lg" placeholder="DEVICE NAME"> 
        </div>
      </div> 
    </form>
  </ng-template>

  <ng-template pTemplate="footer" >
    <div class="flexRow">
      <button style="margin-right: 0px;" (click)="save()" type="submit">Save</button>
      <button class="margin-left__16px" (click)="cancel()" type="submit">Cancel</button>
    </div>
  </ng-template>
</p-dialog>


<p-dialog [style]="{width:'20%'}" header="Title"  [transitionOptions]="'3ms'" 
[draggable]="false" [keepInViewport]="true" [resizable]="false" 
[blockScroll]="true" [closeOnEscape]="true" [dismissableMask]="true" 
[modal]="true" [(visible)]="display3" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
[closable]="true" >
<ng-template pTemplate="header" class="header-dialog">
  <span>Delete device</span>
</ng-template>

<ng-template pTemplate="center">
  <div class="delete-device-content">
    Are you sure you want to erase the device?
    All data will be deleted and you will not be able to recover it.

  </div>
</ng-template>

<ng-template pTemplate="footer" >
  <button type="button" class="no-button" icon="fa-home" label="No" (click)="showDialog()"><span clas="no-span">No</span></button>
  <button type="button" class="yes-button" icon="pi pi-info-circle" label="Yes" (click)="deleteDevice(device.id)"><span clas="no-span">Yes</span></button>

</ng-template>
</p-dialog>