:host{
    position: relative;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    margin:240px 52px 16px calc(300px + 32px);
    height: fit-content;
    min-height: calc(100% - 410px);
    border-radius: 32px;
}
