:host{
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 32px 32px 16px calc(300px + 32px);
    padding: 24px;
    width: calc(100% - 716px);
    height: fit-content;
    min-height: calc(100% - 210px);
    min-width: 500px;
    border-radius: 32px;
}