<div class="gallery">
    
    <div class="wrap">
        <div class="tile"> 
          <img src='/assets/gallery/sijalica.png'/>
          <div class="text">
          <h1>Bulb</h1>
          <p class="animate-text">Replace ordinary bulbs with LED bulbs. </p>
          </div>
         </div>
        
        
        <div class="tile"> 
          <img src='/assets/gallery/fridge.png'/>
          <div class="text">
          <h1>Fridge</h1>
          <p class="animate-text">Set the temperature of the fridge to 3 - 5 degrees, and the freezer to -18 degrees.</p>
          </div>
         </div>
          
          <div class="tile"> 
          <img src='/assets/gallery/window.png'/>
          <div class="text">
          <h1>Windows</h1>
          <p class="animate-text">Check that doors or windows are properly sealed.</p>
          </div>
         </div>
        </div>
    
        <div class="wrap">
            <div class="tile"> 
              <img src='/assets/gallery/light.png'/>
              <div class="text">
              <h1>Lighting</h1>
              <p class="animate-text">Turn off the lights in rooms where no one is. </p>
              </div>
             </div>
            
            
            <div class="tile"> 
              <img src='/assets/gallery/waterHeater.png'/>
              <div class="text">
              <h1>Boiler</h1>
              <p class="animate-text">Set the boiler thermostat to 50-60 degrees.</p>
              </div>
             </div>
              
              <div class="tile"> 
              <img src='/assets/gallery/tv.png'/>
              <div class="text">
              <h1>TV</h1>
              <p class="animate-text">Turn off the TV and computer when you are not using them. </p>
            
              </div>
             </div>
            </div>
    
            <div class="wrap">
                <div class="tile"> 
                  <img src='/assets/gallery/machine.png'/>
                  <div class="text">
                  <h1>Machines</h1>
                  <p class="animate-text">Turn on the washing machines when they are full, for a short time and at a low temperature.</p>
                  </div>
                 </div>
                
                
                <div class="tile"> 
                  <img src='/assets/gallery/cooker.png'/>
                  <div class="text">
                  <h1>Cooker</h1>
                  <p class="animate-text">Align the pots and pans, turn off the oven 10 minutes before the end of cooking. </p>
                  </div>
                 </div>
                  
                  <div class="tile"> 
                  <img src='/assets/gallery/efficiency.png'/>
                  <div class="text">
                  <h1>Efficiency</h1>
                  <p class="animate-text">The most energy-efficient appliances and devices are marked with "A", "B" and "C". </p>
                  </div>
                 </div>
                </div>
</div>
      
