<!-- <div class="gallery">
    
    <div class="wrap">
        <div class="tile"> 
          <img src='/assets/gallery/sijalica.png'/>
          <div class="text">
          <h1>Bulb</h1>
          <p class="animate-text">Replace ordinary bulbs with LED bulbs. </p>
          </div>
         </div>
        
        
        <div class="tile"> 
          <img src='/assets/gallery/fridge.png'/>
          <div class="text">
          <h1>Fridge</h1>
          <p class="animate-text">Set the temperature of the fridge to 3 - 5 degrees, and the freezer to -18 degrees.</p>
          </div>
         </div>
          
          <div class="tile"> 
          <img src='/assets/gallery/window.png'/>
          <div class="text">
          <h1>Windows</h1>
          <p class="animate-text">Check that doors or windows are properly sealed.</p>
          </div>
         </div>
        </div>
    
        <div class="wrap">
            <div class="tile"> 
              <img src='/assets/gallery/light.png'/>
              <div class="text">
              <h1>Lighting</h1>
              <p class="animate-text">Turn off the lights in rooms where no one is. </p>
              </div>
             </div>
            
            
            <div class="tile"> 
              <img src='/assets/gallery/waterHeater.png'/>
              <div class="text">
              <h1>Boiler</h1>
              <p class="animate-text">Set the boiler thermostat to 50-60 degrees.</p>
              </div>
             </div>
              
              <div class="tile"> 
              <img src='/assets/gallery/tv.png'/>
              <div class="text">
              <h1>TV</h1>
              <p class="animate-text">Turn off the TV and computer when you are not using them. </p>
            
              </div>
             </div>
            </div>
    
            <div class="wrap">
                <div class="tile"> 
                  <img src='/assets/gallery/machine.png'/>
                  <div class="text">
                  <h1>Machines</h1>
                  <p class="animate-text">Turn on the washing machines when they are full, for a short time and at a low temperature.</p>
                  </div>
                 </div>
                
                
                <div class="tile"> 
                  <img src='/assets/gallery/cooker.png'/>
                  <div class="text">
                  <h1>Cooker</h1>
                  <p class="animate-text">Align the pots and pans, turn off the oven 10 minutes before the end of cooking. </p>
                  </div>
                 </div>
                  
                  <div class="tile"> 
                  <img src='/assets/gallery/efficiency.png'/>
                  <div class="text">
                  <h1>Efficiency</h1>
                  <p class="animate-text">The most energy-efficient appliances and devices are marked with "A", "B" and "C". </p>
                  </div>
                 </div>
                </div>
</div>
       -->


<div class="row">
	<div class="container">
		<div class="test_box box-01 col-xs-6 col-md-4">
			<div class="inner">
				<a href="#" class="test_click">
					<div class="flex_this">
						<h1 class="test_title">Bulb</h1>
						<span class="test_link">Replace ordinary bulbs with LED bulbs.</span>
					</div>
				</a>
			</div>
		</div>
		<div class="test_box box-02 col-xs-6 col-md-4">
			<div class="inner">
				<a href="#" class="test_click">
					<div class="flex_this">
						<h1 class="test_title">Fridge</h1>
						<span class="test_link">Set the temperature of the fridge to 3 - 5 degrees, and the freezer to -18 degrees.</span>
					</div>
				</a>
			</div>
		</div>
		<div class="test_box box-03 col-xs-6 col-md-4">
			<div class="inner">
				<a href="#" class="test_click">
					<div class="flex_this">
						<h1 class="test_title">Windows</h1>
						<span class="test_link">Check that doors or windows are properly sealed.</span>
					</div>
				</a>
			</div>
		</div>
	</div>
  <div class="container">
		<div class="test_box box-04 col-xs-6 col-md-4">
			<div class="inner">
				<a href="#" class="test_click">
					<div class="flex_this">
						<h1 class="test_title">Lighting</h1>
						<span class="test_link">Turn off the lights in rooms where no one is.</span>
					</div>
				</a>
			</div>
		</div>
		<div class="test_box box-05 col-xs-6 col-md-4">
			<div class="inner">
				<a href="#" class="test_click">
					<div class="flex_this">
						<h1 class="test_title">Boiler</h1>
						<span class="test_link">Set the boiler thermostat to 50-60 degrees.</span>
					</div>
				</a>
			</div>
		</div>
		<div class="test_box box-06 col-xs-6 col-md-4">
			<div class="inner">
				<a href="#" class="test_click">
					<div class="flex_this">
						<h1 class="test_title">TV</h1>
						<span class="test_link">Turn off the TV and computer when you are not using them.</span>
					</div>
				</a>
			</div>
		</div>
	</div>
  <div class="container">
		<div class="test_box box-07 col-xs-6 col-md-4">
			<div class="inner">
				<a href="#" class="test_click">
					<div class="flex_this">
						<h1 class="test_title">Machines</h1>
						<span class="test_link">Turn on the washing machines when they are full, for a short time and at a low temperature.</span>
					</div>
				</a>
			</div>
		</div>
		<div class="test_box box-08 col-xs-6 col-md-4">
			<div class="inner">
        <a href="#" class="test_click">
					<div class="flex_this">
						<h1 class="test_title">Efficiency</h1>
						<span class="test_link">The most energy-efficient appliances and devices are marked with "A", "B" and "C".</span>
					</div>
				</a>
				
			</div>
		</div>
		<div class="test_box box-09 col-xs-6 col-md-4">
			<div class="inner">
				<a href="#" class="test_click">
					<div class="flex_this">
						<h1 class="test_title">Cooker</h1>
						<span class="test_link">Align the pots and pans, turn off the oven 10 minutes before the end of cooking.</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>