.tab.active7 .tab-icon i{
  color: #46c5f1 !important;
}

.tab.active7 .tab-title {
  color: #46c5f1 !important;
}
/*
.tab.active5 .tab-icon {
  color: #fff !important;
}

.tab.active5 .tab-title {
  color: #fff !important;
}
*/


.light-mode2 {
  box-shadow: 8px 8px 32px -5px rgb(200, 200, 200); 
  border-radius: 20px;
  margin-bottom:32px;
}

.light-mode {
  color:#323232 !important;
}

.light-mode-title-bar h3{
  color:#323232;
}


.dark-mode2 {
  background: linear-gradient(180deg, #1b1b1b 30%, #121212 100%) ;
  box-shadow: 5px 5px 15px black !important; 
  border-radius: 20px;
  margin-bottom:32px;
}