<standard-template>
    <app-title-bar>
      <h3>Operators</h3>
    </app-title-bar>
  
      <!-- optional -->
    <app-select-one-menu-bar>
     <app-tab-menu-users></app-tab-menu-users>
    </app-select-one-menu-bar>
  
    <app-center-bar *ngIf="loader"><app-loader></app-loader></app-center-bar>
    <app-center-bar *ngIf="!loader">
    
      <div style="display:flex;float:right; flex-direction:column; width:100%; height:100%">
        <div style="display:flex;float:right; flex-direction:row; width:100%; height:100%">
              
          <p-table class="d-table" #dtUsers class="ui-table-default" [value]="users" 
            dataKey="id" [scrollable]="true" 
            [rows]="rowsPerPage" [totalRecords]="allUsersCount" [lazy]="true" 
            (onSort)="customSort($event)" [customSort]="true"
            [showCurrentPageReport]="true"
            [globalFilterFields]="['name','address','email','role']" [paginator]="true" 
            style="
              display: flex;
              position: relative;
              flex-direction: column;
              height: fit-content;
              width: 100%;
              border-radius: 20px;
              background: linear-gradient(180deg, #151515 50%, #121212 100%) ;
              box-shadow: 5px 5px 15px black;
              transition: ease-in-out;
              padding:10px 20px;
              " >
  
              <ng-template pTemplate="caption">
                <div class="flexRow">
                    <h3>Prosumers</h3>
                    <button pButton label="Clear" class="p-button-outlined margin-left__auto" icon="pi pi-filter-slash" (click)="clear(dtUsers)"></button>
                </div>
              </ng-template>
  
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="name" style="min-width:8rem;  border-top:2px solid #46c5f1;; border-bottom:2px solid #46c5f1;">
                    <div class="flexRow">
                        <p style=" font-size: 18px !important;">Name</p>
                        <p-sortIcon field="name"></p-sortIcon>
                    </div>
                  </th>
                  <th pSortableColumn="addres" style="min-width:9rem;  border-top:2px solid #46c5f1; border-bottom:2px solid #46c5f1;">
                    <div class="flexRow">
                        <p style=" font-size: 18px !important;">Address</p>
                        <p-sortIcon field="addresss"></p-sortIcon>
                    </div>
                  </th>
                  <th pSortableColumn="email" style="min-width:10rem;  border-top:2px solid #46c5f1; border-bottom:2px solid #46c5f1;">
                    <div class="flexRow">
                        <p style=" font-size: 18px !important;">Email</p>
                        <p-sortIcon field="email"></p-sortIcon>
                    </div>
                  </th>
                  <th pSortableColumn="role" style="min-width:8rem; border-top:2px solid #46c5f1; border-bottom:2px solid #46c5f1;">
                    <div class="flexRow">
                        <p style=" font-size: 18px !important;">Role</p>
                    </div>
                  </th>
                </tr>
                <tr>
                  <th>
                    <input pInputText type="text" p-columnFilter field="name" placeholder="Search" [(ngModel)]="filterValues.name" (ngModelChange)="applyFilters()" style="width: 100%" />
                  </th>
                  <th>
                    <input pInputText type="text" p-columnFilter field="address" placeholder="Search" [(ngModel)]="filterValues.address" (ngModelChange)="applyFilters()" style="width: 100%" />
                  </th>
                  <th>
                    <input pInputText type="text" p-columnFilter field="email" placeholder="Search" [(ngModel)]="filterValues.email" (ngModelChange)="applyFilters()" style="width: 100%" />
                  </th>
                  <th></th>
                </tr>
              </ng-template>
  
                <ng-template pTemplate="body" let-user>
                  <tr >
                    <td class="flexRow"><img src="{{ baseUrl + user.id }}" class="rounded-circle" width="25px" height="25px" style="margin-right: 8px;"> {{user.firstName}} {{user.lastName}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.role}}</td>
                  </tr>
                </ng-template>
  
                <ng-template pTemplate="emptymessage">
                  <tr>
                      <td colspan="5">No users found.</td>
                  </tr>
              </ng-template>
  
            </p-table>
          </div>
        </div>
    </app-center-bar>
  
    
    
  </standard-template>
  