<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Dropdown Menu Bar</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
         <img class="logo" src="/assets/images/whiteLogo.png">
         
         <ul>
            <li><a class="active"> About us</a></li>
            <li><a><i class=""></i>Contact</a></li>
         </ul>
      </nav>
      <section></section>
   </body>
</html>