*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  z-index: 2500;
}
body{
  font-family: sans-serif;
  overflow: hidden;
  user-select: none;
  position: fixed; 
  top: 0; 
  width: 100%; 
}
nav .logo{
  width: 150px;
  margin-left: 40px;
  margin-top: -8px;
}
nav{
  height: 73px;
  background: #56857e;
  box-shadow: 0 3px 15px rgba(0,0,0,.4);
}
nav ul{
  float: right;
  margin-right: 90px;
  cursor: pointer;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  color: white;
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 20px;
  background: #56857e;
  transition: .5s;
}
nav ul li a:hover{
  color: #23dbdb;
}
nav ul ul{
  position: absolute;
  top: 85px;
  border-top: 3px solid #56857e;
  opacity: 0;
  visibility: hidden;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: .3s linear;
}
nav ul ul li{
  width: 150px;
  display: list-item;
  position: relative;
  border: 1px solid #042331;
  border-top: none;
}

@media (max-width: 768px) {
  nav {
    height: auto;
  }
  nav ul {
    margin-right: 0;
    float: none;
  }
  nav ul li {
    display: block;
  }
  nav ul li a {
    padding: 10px;
    line-height: 30px;
    font-size: 16px;
  }
  nav ul ul {
    position: static;
    display: none;
    height: auto;
  }
  nav ul ul li {
    width: 100%;
    display: block;
    position: relative;
  }
  nav ul li:hover > ul {
    display: block;
  }
}

@media (max-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }
}
