<standard-template>
    <app-title-bar>
      <h3>About us</h3>
    </app-title-bar>
  

    <app-center-bar>
        <div class="container">
            <div class="image"></div>
            <!-- <div class="quotes">
              <h2>CodeSpark Energy</h2>
              <p>Our website aims to empower people by providing educational resources on accessing and using electricity safely and efficiently. We offer tutorials, guides, and materials on basic electrical concepts, energy-saving strategies, and sustainable energy sources. Our goal is to help individuals and communities improve their lives by harnessing the power of electricity.</p>
            </div> -->
          </div>

          <div class="klasa">
          <div class="reasons">
            <h4 style="margin-bottom:20px;margin-top:25px">5 reasons for using this app:</h4><main>
    
              <p class="fensi">Easy management of energy usage and billing</p>
              <p class="fensi">Real-time data on energy consumption and costs</p>
              <p class="fensi">Improved energy efficiency and cost savings</p>
              <p class="fensi">Remote control of smart home devices and appliances</p>
              <p class="fensi">Access to new and innovative energy technologies</p>
            </main>
          </div>

          <div>
            <div class="cont">
              <div class="card">
                <img src="/assets/images/landing-page-images/pic1.jpg" alt="Card Image">
                <div class="desc">
                  <h5>Join Us in Using Electricity for Good</h5>
                  <p>Our goal is to harness the power of electricity to make the world a better place. By joining our mission, you'll be making a positive impact on people's lives and helping to create a more sustainable future.</p>
                </div>
              </div>
              <div class="card">
                <img src="/assets/images/landing-page-images/pic2.jpg" alt="Card Image">
                <div class="desc">
                  <h5>How Our Work with Electricity is Making a Difference</h5>
                  <p>We believe that electricity can be a force for good. Our team is dedicated to finding innovative solutions that will help people and communities around the world, from improving access to clean energy to developing new technologies to reduce waste.</p>
                </div>
              </div>
              <div class="card">
                <img src="/assets/images/landing-page-images/pic3.jpg" alt="Card Image">
                <div class="desc">
                  <h5> Join Our Team to Help Save the Planet</h5>
                  <p>Every time you turn on a light or charge your phone, you're using electricity. But did you know that you can make a difference with every watt you consume? Our team is dedicated to finding ways to help people use electricity more efficiently, reduce waste, and promote sustainability.</p>
                </div>
              </div>
              <div class="card">
                <img src="/assets/images/landing-page-images/pic4.jpg" alt="Card Image">
                <div class="desc">
                  <h5> How Our Work is Changing Lives?</h5>
                  <p>Electricity has the power to transform lives - from providing light and heat to powering medical equipment and communication devices. Our team is committed to using this power for good, and we need passionate individuals like you to help us make a difference.</p>
                </div>
              </div>
            </div>
          </div>
          </div>

        
  </app-center-bar>


  <app-info-bar class="info"><h4 style="margin-bottom:20px;margin-top:25px">5 reasons for using this app:</h4><main>
    
    <p class="fensi">Easy management of energy usage and billing</p>
    <p class="fensi">Real-time data on energy consumption and costs</p>
    <p class="fensi">Improved energy efficiency and cost savings</p>
    <p class="fensi">Remote control of smart home devices and appliances</p>
    <p class="fensi">Access to new and innovative energy technologies</p>
  </main></app-info-bar>


  </standard-template>
  