
.container {
    display: flex;
    margin:0px;
}
  
.image {
   background-image: url("/assets/images/landing-page-images/citilights2.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 650px;
   width: 100%;
   margin:0;
   padding: 0;
  margin-top: -150px;
}
 
.quotes {
   width: 50%;
   padding: 20px;
   text-align: center;
   margin: auto;
}


//Colors
$black: #34435E;
$white: #ffffff;

main {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  //background-color: ;
  padding: 40px;
  margin-left:-40px;
  background-color: #222222;
  box-shadow: 5px 5px 15px black;
   border-radius: 20px;
}

.fensi {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(45deg, #46c5f1 10%, #5245b7 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: white;
  
  //numbers
  &:before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 2.25em;
    width: 2.25em;
    background-color: $black;
    text-align: center;
    line-height: 1.25em;
    color: $white;
    font-size: 1em;
  }
}
//odd number borders
.fensi:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
  
  &:before {
    left: 100%; 
    margin-left: -20px;
  }
}
//even number borders
.fensi:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
  
  &:before {
    right: 100%; 
    margin-right: -20px;
  }
}
//handle first and last
.fensi:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
.fensi:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
