<standard-template>
    <app-title-bar>
      <h3>About us</h3>
    </app-title-bar>
  

    <app-center-bar>
        <div class="container">
            <div class="image"></div>
            <!-- <div class="quotes">
              <h2>CodeSpark Energy</h2>
              <p>Our website aims to empower people by providing educational resources on accessing and using electricity safely and efficiently. We offer tutorials, guides, and materials on basic electrical concepts, energy-saving strategies, and sustainable energy sources. Our goal is to help individuals and communities improve their lives by harnessing the power of electricity.</p>
            </div> -->
          </div>

          <div class="klasa">
          <div class="reasons">
            <h4 style="margin-bottom:20px;margin-top:25px">5 reasons for using this app:</h4><main>
    
              <p class="fensi">Easy management of energy usage and billing</p>
              <p class="fensi">Real-time data on energy consumption and costs</p>
              <p class="fensi">Improved energy efficiency and cost savings</p>
              <p class="fensi">Remote control of smart home devices and appliances</p>
              <p class="fensi">Access to new and innovative energy technologies</p>
            </main>
          </div>

          <div>
            <div class="cont">
              <div class="card">
                <img src="/assets/images/landing-page-images/citilights.jpg" alt="Card Image">
                <div class="desc">
                  <h3>Title...</h3>
                  <p>Description...</p>
                </div>
              </div>
              <div class="card">
                <img src="/assets/images/landing-page-images/citilights.jpg" alt="Card Image">
                <div class="desc">
                  <h3>Title...</h3>
                  <p>Description...</p>
                </div>
              </div>
              <div class="card">
                <img src="/assets/images/landing-page-images/citilights.jpg" alt="Card Image">
                <div class="desc">
                  <h3>Title...</h3>
                  <p>Description...</p>
                </div>
              </div>
              <div class="card">
                <img src="/assets/images/landing-page-images/citilights.jpg" alt="Card Image">
                <div class="desc">
                  <h3>Title...</h3>
                  <p>Description...</p>
                </div>
              </div>
            </div>
          </div>
          </div>

        
  </app-center-bar>


  <app-info-bar class="info"><h4 style="margin-bottom:20px;margin-top:25px">5 reasons for using this app:</h4><main>
    
    <p class="fensi">Easy management of energy usage and billing</p>
    <p class="fensi">Real-time data on energy consumption and costs</p>
    <p class="fensi">Improved energy efficiency and cost savings</p>
    <p class="fensi">Remote control of smart home devices and appliances</p>
    <p class="fensi">Access to new and innovative energy technologies</p>
  </main></app-info-bar>


  </standard-template>
  