:host {
  background-color: #56857E;
  /*background-color: #1a1a1a;*/
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 0;
}

.content{
  height: 100vh;
  min-height: 600px;
  width: calc(100% - 280px);
  overflow-y: auto;
  position: relative;
  margin-left: auto;
  transition: width 0.4s ease-out;
}

:host(.sidebar-closed) .content{
  width: calc(100% - 78px) !important;
}

.centerContent{
  width: 100%;
  height: calc(100% - 60px);
}

.remainingSpace{
  flex: 1;
}


@media only screen and (max-width: 639px) {
  :host(.sidebar-closed) .content{
    width: 100% !important;
  }
  :host {
    flex-direction: column;
  }
  

}
