<standard-template>
    <app-title-bar [ngClass]="{'light-mode-title-bar': lightMode}">
      <h3>Data in Serbia</h3>
    </app-title-bar>
  
    <app-center-bar *ngIf="loader"><app-loader></app-loader></app-center-bar>
    <app-center-bar *ngIf="!loader">
        <div class="widgets">
    
            <app-widget [subTitle]="'Imports in 2021'" [Title]="datas3[0].value.toFixed(2) + ' billion kilowatthours'" [isBlue]="true" [isBgBlue]="true" class="widget">
            </app-widget>
            <app-widget [subTitle]="'Exports in 2021'" [Title]="datas4[0].value.toFixed(2) + ' billion kilowatthours'" [isYellow]="true" [isBgYellow]="true" class="widget">
            </app-widget>
            <app-widget [subTitle]="'Energy intensity in 2021'" [Title]="datas5[0].value.toFixed(2) + ' million Btu per person'" [isPink]="true" [isBgPink]="true" class="widget">
            </app-widget>
            <app-widget [subTitle]="'CO2 emission in 2021'" [Title]="datas6[0].value.toFixed(2) +' MMTCD'" [isOrange]="true" [isBgOrange]="true" class="widget">
            </app-widget>
            
          </div>
        <div class="flexRow">
            <div style="width: 25.3%;border-radius: 20px;margin-right:40px" [ngClass]="{'light-theme-background-white':lightMode,'dark-theme-background-gray-gradient-1':!lightMode,'light-theme-bigger-shadow':lightMode,'dark-theme-bigger-shadow':!lightMode}">
                <div style="height:100% ;justify-content:center;padding: 15px;">
                
                    <h4 style="color:#46c5f1">Serbia</h4>
                    <h6 [ngClass]="{'light-theme-text-color-dark-gray': lightMode}" style="font-style: italic;">2021 primary energy data in quadrillion Btu</h6>
                    <h5 [ngClass]="{'light-theme-text-color-dark-gray': lightMode}">Coal:</h5>
                    <div class="flexRow" style="margin-top:5px;">
                      <span style="color:#885ec0">Production</span>
                      <span [ngClass]="{'light-theme-text-color-dark-gray': lightMode}" class="margin-left__auto text-secondary">0.285</span>
                    </div>
                    <div class="flexRow" >
                     <span style="color:#885ec0">Consumption</span>
                     <span [ngClass]="{'light-theme-text-color-dark-gray': lightMode}" class="margin-left__auto text-secondary">0.301</span>
                    </div>
                    <h5 [ngClass]="{'light-theme-text-color-dark-gray': lightMode}" style="margin-top:5px;">Dry natural gas:</h5>
                    <div class="flexRow" >
                      <span style="color:#885ec0">Production</span>
                      <span [ngClass]="{'light-theme-text-color-dark-gray': lightMode}" class="margin-left__auto text-secondary">0.014</span>
                    </div>
                    <div class="flexRow" >
                     <span style="color:#885ec0">Consumption</span>
                     <span [ngClass]="{'light-theme-text-color-dark-gray': lightMode}" class="margin-left__auto text-secondary">0.105</span>
                    </div>
                    <h5 [ngClass]="{'light-theme-text-color-dark-gray': lightMode}" style="margin-top:5px;">Petroleum & other liquids:</h5>
                    <div class="flexRow" >
                      <span style="color:#885ec0">Production</span>
                      <span [ngClass]="{'light-theme-text-color-dark-gray': lightMode}"  class="margin-left__auto text-secondary">0.032</span>
                    </div>
                    <div class="flexRow" >
                     <span style="color:#885ec0">Consumption</span>
                     <span [ngClass]="{'light-theme-text-color-dark-gray': lightMode}" class="margin-left__auto text-secondary">0.153</span>
                    </div>
    
                
                  </div>
            </div>
            <div style="width: 75.7%;border-radius: 20px;" [ngClass]="{'light-theme-background-white':lightMode,'dark-theme-background-gray-gradient-1':!lightMode,'light-theme-bigger-shadow':lightMode,'dark-theme-bigger-shadow':!lightMode}">  
              <apx-chart class="chart" #chart2 [series]="series" [markers]="marker"[legend]="legend" [chart]="chart" [tooltip]="tooltip" [xaxis]="xaxis" [yaxis]="yaxis" [title]="title" [stroke]="stroke" [dataLabels]="dataLabels"  ></apx-chart>
            </div>
        </div>
        <div class="flexRow">
            <div style="width:50%;">
                <app-datas-table
                style="
                margin-top:calc(2.8%);
                display: flex;
                position: relative;
                flex-direction: column;
                height: fit-content;
                border-radius: 20px;
                transition: ease-in-out;
                padding:10px 20px 20px 20px;
                " [ngClass]="{'light-mode':lightMode,'dark-mode':!lightMode}"
                 [hif]="datas"></app-datas-table>
            </div>
            <div style="width:50%">
                <app-datas-table
                style="
                margin-top:calc(2.8%);
                display: flex;
                position: relative;
                flex-direction: column;
                height: fit-content;
                border-radius: 20px;
                transition: ease-in-out;
                padding:10px 20px 20px 20px;
                " [ngClass]="{'light-mode':lightMode,'dark-mode':!lightMode}"
                [hif]="datas2"></app-datas-table>
            </div>
        </div>

    </app-center-bar>
      
</standard-template>