<ng-content></ng-content>

<p-dialog [style]="{width:'40%'}" header="Title2"  [transitionOptions]="'3ms'" 
[draggable]="true" [keepInViewport]="true" [resizable]="false" 
[blockScroll]="true" [closeOnEscape]="true" [dismissableMask]="true" 
[modal]="true" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
[closable]="true">
<ng-template pTemplate="header" class="header-dialog">

  
<span>Registration</span>
</ng-template>

<ng-template pTemplate="content">
  <form [formGroup]="signUpForm" >
  
  <div class="p-inputgroup p-inputtext-lg p-input-filled">
    <div class="half">
      <input formControlName="firstName" name="firstName" appendTo="body" type="text"  class="p-inputtext-lg"  placeholder="NAME">
      <small class="text-danger" *ngIf="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')">First name is required</small>
      <input formControlName="lastName" name="lastName"  appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="LAST NAME"> 
      <small class="text-danger" *ngIf="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required','lastName')">Last name is required</small>
      <input formControlName="username" name="username"  appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="USERNAME"> 
      <small class="text-danger" *ngIf="signUpForm.controls['username'].dirty && signUpForm.hasError('required','username')">Username is required</small>
      <input formControlName="email" name="email" appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="EMAIL"> 
      <small class="text-danger" *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')">Email is required</small>
      <div class="dropdown-div"><p-dropdown  [options]="roles" appendTo="body" optionLabel="name" (onChange)="onRoleChange($event)"></p-dropdown></div>
      <input formControlName="phoneNumber" name="phone" appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="PHONE NUMBER"> 
      <small class="text-danger" *ngIf="signUpForm.controls['phoneNumber'].dirty && signUpForm.hasError('required','phoneNumber')">Phone number is required</small>
      
    </div>
  
    <div class="half">
      <input formControlName="address" name="address" appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="ADDRESS" (change)="onAddressChange($event)">     
      <small class="text-danger" *ngIf="signUpForm.controls['address'].dirty && signUpForm.hasError('required','address')">Address is required</small>

      <app-registration-map [address] = "value" (messageEvent)="receiveMessage($event)"></app-registration-map>
    </div>
  </div> 
</form>
</ng-template>

<ng-template pTemplate="footer" >
  <div class="button-div"><p-button (click)="onSignUp()" type="button" label="Save"></p-button>
</div>
</ng-template>
</p-dialog>


<p-dialog [style]="{width:'40%'}" header="Title"  [transitionOptions]="'3ms'" 
[draggable]="true" [keepInViewport]="true" [resizable]="false" 
[blockScroll]="true" [closeOnEscape]="true" [dismissableMask]="true" 
[modal]="true" [(visible)]="display2" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
[closable]="true" >
<ng-template pTemplate="header" class="header-dialog">
  <span>Add Device</span>
</ng-template>

<ng-template pTemplate="content">
  <form [formGroup]="addDeviceForm" >  
  <div class="p-inputgroup p-inputtext-lg p-input-filled">
    <div class="half">  
      Device type 
      <div class="dropdown-div" style="margin-bottom:20px;"> <p-dropdown [options]="types" appendTo="body" optionLabel="name" (onChange)="onTypeChange($event)" /></div>
      Device model 
      <div class="dropdown-div" style="margin-top:0px;"><p-dropdown [options]="models" appendTo="body" optionLabel="name" (onChange)="onModelChange($event)"/>
    </div></div>
    
    <div class="half">       
       Room
       <div class="dropdown-div" style="margin-bottom:20px;"><p-dropdown [options]="rooms" appendTo="body" optionLabel="name" (onChange)="onRoomChange($event)" /></div>
      Device name
       <input formControlName="deviceName" name="name"  appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="DEVICE NAME" style="margin-top:0px;"> 
    </div>
  </div> 
  </form>
</ng-template>

<ng-template pTemplate="footer" style="min-height:100px;" >
  <div class="button-div"><p-button type="button" class="footer-button" label="Save" (click)="addDevice()"></p-button>
  </div>
</ng-template>
</p-dialog>





<p-dialog [style]="{width:'40%'}" header="Title"  [transitionOptions]="'3ms'" 
    [draggable]="true" [keepInViewport]="true" [resizable]="false" 
    [blockScroll]="true" [closeOnEscape]="true" [dismissableMask]="true" 
    [modal]="true" [(visible)]="display3" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
    [closable]="true" >
    <ng-template pTemplate="header" class="header-dialog">
      <span>Add news</span>
    </ng-template>

    <ng-template pTemplate="content">
      <form [formGroup]="newsForm" > 
      
      <div class="p-inputgroup p-inputtext-lg p-input-filled">
        <div class="half">
          <input formControlName="title" name="name" appendTo="body" type="text" class="p-inputtext-lg" placeholder="TITLE"> 
          <textarea id="text" formControlName="content" name="name" appendTo="body" type="text" class="p-inputtext-lg" style="width:100%;height: 250px;background:#121212 !important;"></textarea>
          <div style="display: flex;flex-direction: column; align-items: center;margin-right: 4%;">
            <span style="font-size: 19px;color:gray">Priority:</span>
            <div style="display: inline-flex;">
              <input formControlName="priority" id="regular" type="radio"  value="Regular">
              <label for="regular" style="margin-top: 15px; margin-left: 5px;">Regular</label>
            </div>
            <div style="display: inline-flex;">
              <input formControlName="priority" id="important" type="radio"  value="Important">
              <label for="important" style="margin-top: 15px; margin-left: 5px;">Important</label>
            </div>
          </div>
        </div>
      </div> 
      </form>
      
    </ng-template>
    
    <ng-template pTemplate="footer" style="min-height:100px" >
      <div class="button-div"><p-button type="button"  label="Save" (click)="addNews()"></p-button>
      </div>
    </ng-template>
  </p-dialog>


  
<p-dialog [style]="{width:'30%'}" header="Title"  [transitionOptions]="'3ms'" 
[draggable]="true" [keepInViewport]="true" [resizable]="false" 
[blockScroll]="true" [closeOnEscape]="true" [dismissableMask]="true" 
[modal]="true" [(visible)]="display4" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
[closable]="true" >
<ng-template pTemplate="header" class="header-dialog">
  <span>Change password</span>
</ng-template>

<ng-template pTemplate="content">
  <form [formGroup]="changePassForm" > 
  
  <div class="p-inputgroup p-inputtext-lg p-input-filled">
    <div class="half" style="flex-basis:70%;">
      <input formControlName="currentPassword" name="name" appendTo="body" type="password" class="p-inputtext-lg" placeholder="CURRENT PASSWORD"> 
      <input formControlName="newPassword" name="name" appendTo="body" type="password" class="p-inputtext-lg" placeholder="NEW PASSWORD"> 
      <input formControlName="confirmPassword" name="name" appendTo="body" type="password" class="p-inputtext-lg" placeholder="CONFIRM PASSWORD">
      <p style="font-size:14px"><b>Note</b>: Password must have at least one uppercase letter, lowercase letter, number and special character</p>
    </div>
  </div> 
  </form>
  
</ng-template>

<ng-template pTemplate="footer" style="min-height:100px;">
  <div  class="button-div"><p-button type="button" class="footer-button" label="Save" (click)="savePass()"></p-button>
</div>
</ng-template>
</p-dialog>




<nav>
  <ul class="right-part">
    <div *ngIf="isAdmin()" style="cursor:pointer" [ngClass]="{'light-mode':lightMode}"><li><a (click)="showDialog()"><div class="fa fa-user-plus " [ngClass]="{'light-mode':lightMode}"></div><div class="text" [ngClass]="{'light-mode':lightMode}" [ngClass]="{ 'hidden-xs': !showText }" ><span [ngClass]="{'light-mode':lightMode}">Add user</span></div></a></li></div>
    <div *ngIf="!isAdmin()" style="cursor:pointer" [ngClass]="{'light-mode':lightMode}"><li><a (click)="showDialog2()"><div class="fa fa-plus " [ngClass]="{'light-mode':lightMode}"></div><div class="text" [ngClass]="{'light-mode':lightMode}" [ngClass]="{ 'hidden-xs': !showText }"><span [ngClass]="{'light-mode':lightMode}">Add device</span></div></a></li></div>
    <div *ngIf="isAdmin()" style="cursor:pointer" [ngClass]="{'light-mode':lightMode}"><li><a (click)="showDialog3()"><div class="fa-solid fa-newspaper " [ngClass]="{'light-mode':lightMode}"></div><div class="text"  [ngClass]="{'light-mode':lightMode}" [ngClass]="{ 'hidden-xs': !showText }" [ngClass]="{'light-mode':lightMode}"><span>Add news</span></div></a></li></div>
    <li><a routerLink="/aboutus"><div class="fa fa-address-book" ></div><div class="text" [ngClass]="{ 'hidden-xs': !showText }">About us</div></a></li>
    <li>
      <div class="hero">
        <nav>
      <a><img [src]="userImageUrlEndpoint" (click)="toggleMenu()" class="profile-image"><div class="text1" [ngClass]="{ 'hidden-xs': !showText }"></div></a> 
          <div class="sub-menu-wrap" #subMenu [class.open-menu]="isMenuOpen" id="subMenu" [class.open-menu]="isMenuOpen">
            <div class="sub-menu">
                <div class="user-info">
                  <img [src]="userImageUrlEndpoint" class="profile-image"><div class="text" [ngClass]="{ 'hidden-xs': !showText }"></div>
                    <h5 [ngClass]="{'light-mode':lightMode}">{{user?.firstName}} {{user?.lastName}}</h5>
                </div>
                <hr>
                <a class="sub-menu-link">
                  <i class="fa-solid fa-user"></i>
                  <p routerLink="/user">Profile</p>
                </a>
                <a class="sub-menu-link" style="cursor: default;">
                  <i class="fa-sharp fa-regular fa-sun"></i>
                  <p>Light theme</p>
                  <p-inputSwitch class="margin-left__auto width__fit-content" style="margin-left:-5px;margin-top: -7px;" (click)="changeTheme()"/>
                </a>
                <a class="sub-menu-link">
                  <i class="fa-sharp fa-solid fa fa-key"></i>
                  <p (click)="showDialog4()" (click)="setMenuClose()">Change password</p>
                </a>
                <a class="sub-menu-link">
                  <i class="fa-sharp fa-solid fa-headset"></i>
                  <p routerLink="/contact">Contact us</p>
                </a>
                <a class="sub-menu-link">
                  <i class="fa-solid fa-right-from-bracket"></i>
                  <p (click)="logout()">Log out</p>
                </a>
              
            </div>          
        </div>
        </nav>
      </div>
    </li>
  </ul>
</nav>
