.main-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}

.stats-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top:7%;
  width:100%;
  padding: 0px 0;
  justify-content:space-between;
  position:relative;
}

.stats-card{
  display:flex;
  flex-basis: 47%;
}

.stats-card:nth-child(1), .stats-card:nth-child(2) {
  margin-bottom:7%;
}



.user{
    width:100%;
    display: flex;
    flex-direction: column;
}

.donuts{
    display: flex;
    flex-direction: column;
}

.donuts{
    background: linear-gradient(180deg, #1b1b1b 50%, #0d0d0d 100%) ;
    box-shadow: 5px 5px 15px black;
    border-radius: 20px;
    align-items: center;
    padding:20px 20px 0px 20px;
}

h5 {
    margin-top:10px;
}

h5:first-child {
    margin-top:0px;
}


.promotion
{
    width:90%;
    height:87%;
    margin:5%;
    background: linear-gradient(180deg, #121212 50%, #0d0d0d 100%) ;
display: inline-block;
position: relative;
flex-direction: row;

}


.light-mode-circles {
  
    box-shadow: 12px 12px 40px -5px rgb(200, 200, 200) !important;
    background:white !important;
    h5,p {
      color:#323232;
    }
  }
