<ul>
    <li style="--accent-color: #46c5f1">
        <div class="date"> Cost Savings</div>
        <div class="descr">Our app is designed to help users improve their energy efficiency, reduce electricity consumption, and ultimately save on their electricity bills. We believe in empowering individuals and businesses to make informed decisions that positively impact both the environment and their finances.</div>
    </li>
    <li style="--accent-color:#885ec0">
        <div class="date">Sustainable Future</div>
        <div class="descr">Our app is driven by a commitment to a sustainable future. We aim to promote renewable energy sources, raise awareness about energy conservation, and empower users to make sustainable choices. Together, we can contribute to a cleaner and greener planet for future generations.</div>
    </li>
    <li style="--accent-color:#eb4886">
        <div class="date">Electricity Management</div>
        <div class="descr">Description: With our app, managing electricity usage has never been easier. We provide intuitive tools and real-time monitoring capabilities that allow users to track their energy consumption, set usage goals, and identify areas for improvement. Take control of your electricity usage and make informed decisions effortlessly.</div>
    </li>
    <li style="--accent-color: #f5805a">
        <div class="date">Personalized Insights</div>
        <div class="descr">Our app goes beyond simple electricity tracking. We provide personalized insights and recommendations based on users' energy usage patterns. Gain valuable insights into your energy consumption habits, receive tailored tips for optimizing energy efficiency, and make impactful changes that align with your specific needs and goals.</div>
    </li>
    <li style="--accent-color:#46c5f1">
        <div class="date">Simplified Billing and Payments</div>
        <div class="descr">Say goodbye to complicated electricity bills and payment processes. Our app streamlines the billing experience, providing users with clear and concise summaries of their electricity usage and charges. Make payments conveniently within the app, set up automatic billing reminders, and enjoy a hassle-free billing and payment experience.</div>
    </li>
</ul>