<div class="d-flex flex-column align-items-center text-center" style="width:100%;">
    <img [src]="userImageUrlEndpoint" class="rounded-circle" style="background-color: white;" width="110" height="110">
    <div class="mt-3">
    <h3 style="margin-bottom: 30px;">{{user?.firstName}} {{user?.lastName}}</h3>
    <div class="flex-column">
        <button label="Edit" style="float:left"><i class="fa-solid fa-pen"  style="margin-right:16px;" (click)="showDialog()" ></i>Edit</button>
        <button label="Remove" class="remove-btn margin-left__16px"><i class="fa-solid fa-minus" style="margin-right:16px;"></i>Remove</button>
    </div>
</div>

<hr class="my-4">

<ul style="width: 100%;padding-left:0 !important;">
    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" style="cursor:default;" >
        <h6 class="mb-0">Full Name</h6>
        <span class="text-secondary">{{user?.firstName}} {{user?.lastname}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" style="cursor:default;">
        <h6 class="mb-0">Username</h6>
        <span class="text-secondary">{{user?.username}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" style="cursor:default;">
        <h6 class="mb-0">Email</h6>
        <span class="text-secondary">{{user?.email}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" style="cursor:default;">
        <h6 class="mb-0">Phone</h6>
        <span class="text-secondary">{{user?.phoneNumber}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" style="cursor:default;">
        <h6 class="mb-0">Address</h6>
        <span class="text-secondary"> {{user?.address}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" style="border:none;cursor:default;">
        <h6 class="mb-0">Role</h6>
        <span class="text-secondary"> {{user?.role}}</span>
    </li>
</ul>


<p-dialog [style]="{width:'40%'}" header="Title"  [transitionOptions]="'3ms'" 
      [draggable]="true" [keepInViewport]="true" [resizable]="false" 
      [blockScroll]="true" [closeOnEscape]="true" [dismissableMask]="true" 
      [modal]="true" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
      [closable]="true" >
      <ng-template pTemplate="header" class="header-dialog">
        <span>Menage user</span>
      </ng-template>
  
      <ng-template pTemplate="content">
        <form [formGroup]="menageUserForm" >
        
        <div class="p-inputgroup p-inputtext-lg p-input-filled">
          <div class="half">
            <input formControlName="name" name="name" appendTo="body" type="text" class="p-inputtext-lg"  placeholder="NAME"> 
            <input formControlName="lastname" name="lastname"  appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="LAST NAME"> 
            <input formControlName="username" name="username"  appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="USERNAME"> 
          </div>
        
          <div class="half">
            <input formControlName="email" name="email" appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="EMAIL"> 
            <input formControlName="phone" name="phone" appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="PHONE NUMBER"> 
            <input formControlName="address" name="address" appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="ADDRESS">     
          </div>
        </div> 
        </form>
      </ng-template>
      
      <ng-template pTemplate="footer" style="min-height:100px;" >
        <button type="button" class="footer-button" icon="pi pi-info-circle" label="Show">Save</button>
  
      </ng-template>
    </p-dialog>