p{
    margin: 5px;
    font-size: 1.2em;
    color:rgb(255, 255, 255);
}

:host{
    display:flex;
    position: relative;
    flex-direction: column;
    color: white;
    background-color: transparent;
    background: linear-gradient(180deg, #1e1e1e 30%, #121212 100%) ;
    border-radius: 20px;
    width: 100%;
    padding:20px;
    box-shadow: 5px 5px 15px black;
}

button {
    margin: auto;
    border: none;
    border-radius: 32px;
    display: block;
    background: linear-gradient(45deg, #46c5f1 10%, #5245b7 100%);
    box-shadow: 2px 2px 10px black;
    font-size: 16px;
    color:white;
    padding:8px 20px;
    min-width:150px;
}

.remove-btn {
    float:right !important;
    background: linear-gradient(135deg,#eb4886,#f075a4) !important;
}

h6 {
    padding-left:10px;
    padding-right:10px;
}

button:hover{
    background: #1f221f;
    box-shadow: none;
  }



li{
    padding-left: 0rem !important;
    padding:10px 10px;
    color: white;
    background-color: transparent;
}

.text-secondary {
    font-family: 'Montserrat', sans-serif;
}

::ng-deep .button-div .p-button  {
    position:relative!important;
    border-radius: 2px!important;
    display: flex;
    border:none!important;
    font-size:16px!important;
    background: #46c5f1;
    padding:5px 10px;
    min-width:80px!important;
    border:none !important;
    outline: 1px solid #46c5f1;
    outline-offset: 2px;
    margin-left:10px;
    .p-button-label {
      color:#1e1e1e !important;
  
    }
    .pi {
      color:#1e1e1e !important;
  
    }
    .p-button-icon {
      color:#1e1e1e !important;
    }
  }
  
  ::ng-deep  .remove-or-no .p-button  {
    position:relative!important;
    border-radius: 2px!important;
    display: flex;
    border:none!important;
    font-size:16px!important;
    background: transparent;
    padding:5px 10px;
    min-width:80px!important;
    border:none !important;
    outline: 1px solid #eb4886;
    outline-offset: 2px;
    margin-left:10px;
    .p-button-label {
      color:#eb4886  !important;
  
    } .p-button-icon {
      color:#eb4886  !important;
  
    }
  } 