.device-information{
    width: 100%;
    min-width: 300px;
    height: fit-content;
    padding: 16px;
    border-radius: 20px;
    color: white;
    background-color: #1b1b1b;
    box-shadow: 5px 5px 15px black;
  }

.device-information1 {
    width: 100%;
    min-width: 300px;
    height: fit-content;
    padding: 16px;
    border-radius: 20px;
    color: white;
    background-color: #1b1b1b;
    box-shadow: 5px 5px 15px black;
}

.main-card {
    background-color: #1b1b1b;
    display:flex;
    flex-direction:column; 
    width:40%; 
    height:1000px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
    min-width: 330px;
}

.card-1 {
    position: relative;
    width:100%; 
    height:350px;
    min-height:350px;
    border-radius: 20px; 

    
    
}

.card-2 {
    position: relative;
    display:flex;
    float:right; 
    flex-direction:row; 
    width:100%;
    height:fit-content;
    justify-content: center;
    align-items: center;
}


.card-2-1{
    position: relative;
    display:flex;
    float:right;
    flex-direction:row;  
    width:50%; 
    height:100%;
    border-radius: 20px;
    padding:10px 10px 10px 20px;
}

.card-2-2{
    position: relative;
    display:flex;
    float:right;
    flex-direction:column;  
    width:50%; 
    height:100%;
    border-radius: 20px;
    padding:10px 20px 10px 10px;
}

.circle {
    display:flex;
    flex-direction:column; 
    align-items: center;
    justify-content: center;
}

.circle-1 {
    margin:auto;
    border-radius: 50%;
    width:200px;
    height:200px;
    background: linear-gradient(45deg, #b855a4 40%, #f5805a 100%);
    /*
    background-size: 400% 100%;
    -webkit-animation: animate 5s ease infinite;
    -moz-animation: animate 5s ease infinite;
    animation: animate 5s ease infinite;  
    */
    box-shadow: 2px 2px 15px  rgb(0, 0, 0);
}

.stats {
    position: relative;
    background: linear-gradient(45deg, #b855a4 40%, #f5805a 100%);  
    width:100%;
    height:130px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
    display: flex;
    flex-direction: column;
}

.stat-3{
    background: #1b1b1b !important;  

}

.main-stat {
    font-size: 40px;
    font-weight: bolder;
}

.main-stat-card {
    font-size: 40px;
    font-weight: bolder;
    margin-left:5%;
    margin-top:30px;
}

.inner-card {
    position: absolute;
    
    background: linear-gradient(45deg, #b855a4 40%, #f5805a 100%);  
    width:60%;
    height:100%;
    border-radius: 20px;
}

.title, .today, .kwh {
    font-weight: bold;
    span {
        background: -webkit-linear-gradient(45deg, #b855a4 20%, #f5805a 100%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.title, .today {
    font-size:12px;
}
.circle-icon {

    i {
        background: -webkit-linear-gradient(45deg, #b855a4 20%, #f5805a 100%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.kwh{
    font-size: 20px;
}
.fa-bolt {
    font-size:26px;
}

.colored-text {
    padding:20px;
    h5 {
        font-size: 24px;
        font-weight: bolder;
        background: -webkit-linear-gradient(45deg, #b855a4 20%, #f5805a 100%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@-webkit-keyframes animate {
0%{
    background: linear-gradient(45deg, #b855a4 20%, #f5805a 100%);}
100%{
    background: linear-gradient(45deg,#f5805a  20%,  #b855a4 100%);}
}
@-moz-keyframes animate {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@keyframes animate {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}



.circle-2 {
    margin:auto;
    border-radius: 50%;
    background-color: #1b1b1b;
    
    width:170px;
    height:170px;
    box-shadow: 2px 2px 15px  rgb(0, 0, 0);
}

.circle-3 {
    margin:auto;
    margin-top:20px;
    border-radius: 50%;
    width:130px;
    height:130px;
    background: linear-gradient(45deg, #b855a4 40%, #f5805a 100%);
    box-shadow: 2px 2px 15px  rgb(0, 0, 0);


}

.circle-4 {
    margin:auto;
    border-radius: 50%;
    background-color: #1b1b1b;
    
    width:100px;
    height:100px;
    box-shadow: 2px 2px 15px  rgb(0, 0, 0);
}




@media only screen and (max-width: 500px) {
    .main-card {
        width:100%;
    }
    .inner-card {
        width:100%;
    }
}



@media only screen and (max-width: 1400px) {
    .main-card {
        width:50%;
    }
}



@media only screen and (max-width: 1200px) {
    .main-card {
        width:60%;
    }
}

@media only screen and (max-width: 1100px) {
    .main-card {
        width:100%;
    }
}


@media only screen and (max-width: 900px) {
    .main-card {
        width:100%;
    }
}

@media only screen and (max-width: 800px) {
    .main-card {
        width:100%;
    }
}