:host{
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    background-color: #1b1b1b;
    min-height: 120px;
    /*min-width: 340px;*/
    border-radius: 20px;
    padding:  40px 40px 20px 20px;
    box-shadow: 5px 5px 15px black; 
    flex-basis: calc(33.33333% - 30px);
}
:host>.item_title {
  margin-top: 20px;
  min-height: 40px;
  overflow: hidden;
  font-weight: bold;
  font-size: 19px;
  color: #FFF;
  align-items: end;
  cursor: default;
  z-index: 2;
  position: relative;
  font-family: 'Lato', sans-serif;
  text-align: justify;
}

:host>.item_date-box {
  z-index: 2;
  position: relative;
  cursor: default;
  font-weight: bold;
  font-size: 24px;
  padding-right: 10px;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  font-family: 'Montserrat', sans-serif;
  transition: color .5s ease;
}

:host>.item_date {
  font-weight: bold;
  cursor: default;
  font-size: 25px;
  padding-right: 10px;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

:host>.item_bg {
  height: 128px;
  width: 128px;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.blue-color {
  color:rgb(125, 2, 210);;
}

.bg-blue-color {
  background-color:#1b1b1b;;
}

.yellow-color {
  color:rgb(217, 3, 114);;
}
.bg-yellow-color {
  background-color:#1b1b1b;;
}

.pink-color {
  color:rgb(4,167,119);;
}
.bg-pink-color {
  background-color:#1b1b1b;;
}

@media only screen and (max-width: 639px) {
  :host {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}