:host{
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    background-color: #1b1b1b;
    min-height: 120px;
    /*min-width: 340px;*/
    border-radius: 20px;
    padding:  20px 40px 20px 20px;
    flex-basis: calc(33.33333% - 30px);
    box-shadow: 5px 5px 15px black; 
}

:host>.item_title {
  margin-top: 20px;
  min-height: 40px;
  overflow: hidden;
  font-size: 16px;
  color: #FFF;
  align-items: end;
  cursor: default;
  z-index: 2;
  position: relative;
  text-align: justify;
}

:host>.item_date-box {
  z-index: 2;
  position: relative;
  cursor: default;
  font-weight: bold;
  font-size: 24px;
  padding-right: 10px;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  font-family: 'Montserrat', sans-serif;
  transition: color .5s ease;
}

:host>.item_date {
  font-weight: bold;
  cursor: default;
  font-size: 25px;
  padding-right: 10px;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

:host>.item_bg {
  height: 128px;
  width: 128px;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.yellow-color {
  color:#885ec0;
}

.bg-yellow-color {
  background-color:#885ec0;

}

.blue-color {
  color:#46c5f1;
}
.bg-blue-color {
  background-color: #46c5f1;

}

.orange-color {
  color:#f5805a;
}
.bg-orange-color {
  background: #f5805a;
}


.pink-color {
  color: #eb4886;
}
.bg-pink-color {
  background: #eb4886;
}

:host>.datum
{
  padding-top: 10px;
  font-family: 'Lato', sans-serif ;
  font-weight: bold;
   /* padding-left: 80%; */
  color:grey;
}



@media only screen and (max-width: 639px) {
  :host {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 500px) {
  
  :host>.item_title {
    font-size: 10px;
  }
  :host>.item_date-box {
    font-size: 15px;
    padding-right: 8px;
  }
}