<div class="item_bg"  [ngClass]="{'bg-blue-color' : isBgBlue, 'bg-yellow-color' : isBgYellow, 'bg-pink-color' : isBgPink}"></div>

<div class="item_date-box" [ngClass]="{'blue-color' : isBlue, 'yellow-color' : isYellow, 'pink-color' : isPink}">
    {{subTitle}}  <i class="fa-solid fa-circle-exclamation" *ngIf="Status === 'Important'"></i>
</div>

<div class="item_title">{{Title}}
</div>

<div style="display:flex; flex-direction:row; width:100%; height:30px;position:relative">
    <div style="display:flex; width:100px; height:100%;position:relative">
        {{Datum}}
    </div>

    <div style="display:flex; width:calc(100% - 100px);margin-left:50px;  height:100%; position:relative">
            <div *ngIf="permission" (click)="showDialog2()" class="delete"> Delete</div><div class="edit" *ngIf="permission">Edit </div>
    </div>
</div>
<!-- (click)="DeleteNews(ID) -->
<!--
<div class="bottom">
    <div class="datum"> {{Datum}} <div>
    <div class="delete"> </div>
    <div class="edit"> </div>
</div>
-->

<p-dialog [style]="{width:'300px',height:'200px'}" header="Title"  [transitionOptions]="'3ms'" 
[draggable]="true" [keepInViewport]="true" [resizable]="false" 
[blockScroll]="true" [closeOnEscape]="true" [dismissableMask]="true" 
[modal]="true" [(visible)]="display2" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
[closable]="true" >
<ng-template pTemplate="header" class="header-dialog">
  <span >Are you sure you want to delete this news?</span>
</ng-template>

<ng-template pTemplate="center">
  <div class="flexRow">
    <button class="margin-left__16px edit-btn" (click)="DeleteNews(ID)">Yes</button>
    <button class="margin-left__16px remove-btn"  (click)="display2=false"> No</button>
  </div>
</ng-template>

</p-dialog>
