<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Dropdown Menu Bar</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
         <label class="title">Home</label>
         <img class="logo" src="/assets/images/whiteBar.png">
         
         <ul>
            <li><a class="active"> About us</a></li>
            <li><a class="active">Contact</a></li>
            <li>
               <a class="active" href="#">Ana Ivanovic
               <i class="fa-solid fa-user"></i>
               <i class="fas fa-caret-down"></i>
               </a>
               <ul>
                  <li><a class="active" href="#">My profile</a></li>
                  <li><a class="active" href="#">FAQ</a></li>
                  <li><a class="active" href="#">Logout</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <section></section>
   </body>
</html>