<button id="createUserButton" (click)="initNewUser()">Create new user</button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>First name</th>
      <th>Last name</th>
      <th>City</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.city }}</td>
      <td><button id="editUserButton" (click)="editUser(user)">Edit</button></td>
    </tr>
  </tbody>
</table>

<edit-user [user]="userToEdit" (usersUpdated)="updateUserList($event)"></edit-user>
