<h1>Team</h1>
<div id="team-cards" class="team-cards flexRow">
    <div class="card">
        <div class="circle">
            <img class="circle-image" src="/assets/images/team-profile-pictures/boris.png" alt="Team member picture">
        </div>
        <p class="name"><b>Boris Dugic</b></p>
        <p>Front-end developer</p>
    </div>
    <div class="card">
        <div class="circle">
            <img class="circle-image" src="/assets/images/team-profile-pictures/denis.png" alt="Team member picture">
        </div>
        <p class="name"><b>Denis Dragoljubovic</b></p>
        <p>Front-end developer</p>
    </div>
    <div class="card">
        <div class="circle">
            <img class="circle-image" src="/assets/images/team-profile-pictures/marija.png" alt="Team member picture">
        </div>
        <p class="name"><b>Marija Andric</b></p>
        <p>Full-stack developer</p>
    </div>
    <div class="card">
        <div class="circle">
            <img class="circle-image" src="/assets/images/team-profile-pictures/vanja.png" alt="Team member picture">
        </div>
        <p class="name"><b>Vanja Mijatovic</b></p>
        <p>Back-end developer</p>
    </div>
    <div class="card">
        <div class="circle">
            <img class="circle-image" src="/assets/images/team-profile-pictures/aleksa.png" alt="Team member picture">
        </div>
        <p class="name"><b>Aleksa Stojanovic</b></p>
        <p>Back-end developer</p>
    </div>
</div>