<div class="card">
    <div style="width:100%; height:fit-content; position:relative;">
        <div [ngClass]="{'icon' : hasIcon}">
            <span><i [ngClass]="{'fa-solid' : hasIcon, 'fa-arrow-trend-up' : hasIcon}"></i></span>
        </div>

        <div [ngClass]="{'subtitle-card':hasIcon }" >
            <span>{{Title}}</span>
        </div>
    </div>
    <div style="width:100%; height:fit-content; position:relative;">
        <div class="main-stat-card">  
            <span>434</span>
        </div>
        <div class="kwh-card">
            <span>kwh</span>
        </div>
    </div>
    <div class="subtitle-2">  
        <span><span [style.color]="( 0 > 1) ? '#eb4886' : '#46c5f1'">{{subTitle}}  more</span> than last week</span>
    </div>
</div>
