<div class="card">
    <div style="width:100%; height:fit-content; position:relative;">
        <div [ngClass]="{'icon' : hasIcon}" >
            <span><img src="../../../../assets/icons/images/icons8-graph-24.png" class="slika"></span>
        </div>

        <div class="subtitle-card" [ngClass]="{'sub-width' : !hasIcon}">

            <span>{{Title}}</span>
        </div>
    </div>
    <div style="width:100%; height:fit-content; position:relative;">
        <div class="main-stat-card">  
            <span>{{value}}</span>
        </div>
        <div class="kwh-card">
            <span>kWh</span>
        </div>
    </div>
    <div class="subtitle-2">  
        <span> {{subTitle}}</span> 
    </div>
</div>
