:host {
    background: linear-gradient(180deg, #1e1e1e 50%, #121212 100%) ;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
    flex-basis:50%;
}

.card {
    width:100%;
    height:100%;
}

.item_date-box {
    padding:10px 15px;
    font-size: 0.9rem !important;
    text-shadow: 1px;
    min-height:35px;
    z-index: 2;
    position: relative;
    cursor: default;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.bg-blue-color{
    background: linear-gradient(135deg,#3c8ce7,#00eaff);
}
.bg-purple-color{
    background: linear-gradient(135deg,#885ec0,#ae91d4);
}
.bg-pink-color{
    background: linear-gradient(135deg,#eb4886,#f075a4);
}
.bg-orange-color{
    background: linear-gradient(135deg,#f5805a,#f9b59f);
}