:host {
    /*
    background: linear-gradient(180deg, #1e1e1e 50%, #121212 100%) ;
    */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
    flex-basis:50%;
    border:none;
}

.card {
    width:100%;
    height:100%;
    background-color: transparent;
    border:none;
}

.item_date-box {
    padding:10px 15px;
    font-size: 0.9rem !important;
    text-shadow: 1px;
    min-height:35px;
    z-index: 2;
    position: relative;
    cursor: default;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}


.icon {
    width:40px;
    text-align: center;
    height:40px;
    color: #46c5f1;
    
    margin-left: 10px;
    border-radius: 10px;
    position: relative;
    justify-content: center;
    vertical-align: middle;
    float:left;
    margin-top:10px;
    span {
        background: white;
  
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  
    }
}

.icon i {
    font-size: 24px;
    margin: 7px;
}

.sub-width {
    width:calc(100% - 20px) !important;
}

.subtitle-card {
    width:calc(100% - 60px);
    display: inline-block;
    font-size: 14px;
    padding:9px 5px 0px 10px;

    span {
        color: #46c5f1;
        font-weight:bold;
    }
}

.subtitle-2 {
    bottom:-10px;
    margin-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    font-size:14px;
    span {
        /*
        color:#c7c7c7;
        */
    }
    padding-left:10px;
    font-weight:bold;
}

.main-stat-card {
    position: relative;
    font-size: 40px;
    padding-left:10px;

    span {
        font-weight: bolder;
        /*
        color:white;*/
    }
    float:left;
    padding-top:8px;
}

.kwh-card {
    padding:28px 0px 10px 10px;
    display:inline-block;
    span {
        font-family: 'Lato',sans-serif !important;
        font-size: 20px;
        font-weight: bold;
    }
}

.slika {
    height:40px; 
    width:auto;
}

.bg-blue-color{
    background: linear-gradient(135deg,#3c8ce7,#00eaff);
}
.bg-purple-color{
    background: linear-gradient(135deg,#885ec0,#ae91d4);
}
.bg-pink-color{
    background: linear-gradient(135deg,#eb4886,#f075a4);
}
.bg-orange-color{
    background: linear-gradient(135deg,#f5805a,#f9b59f);
}



@media only screen and (max-width:980px) {

  .main-stat-card {
    padding-top:10px !important;
    font-size:20px;
    font-weight: bold;
  }
  .kwh-card {
    font-weight: normal;
    padding-top:10px;
    font-size:12px;
  }

  .subtitle-2 {
    margin-top:0px;
  }

  .icon {
    display: none;
  }

  .subtitle-card {
    width:100%;
  }

  .subtitle-card, .main-stat-card, .subtitle-2{
    padding-left:7px;
    padding-right:0px;
  }
  .slika{
    display: none;
  }

}