/* You can add global styles to this file, and also import other style files */

.flexRow{
    display: flex;
    flex-direction: row;
  }
  
.flexColumn{
    display: flex;
    flex-direction: column;
}

