/* You can add global styles to this file, and also import other style files */
@import "~primeicons/primeicons.css";

.flexRow{
    display: flex;
    flex-direction: row;
  }

  
.flexColumn{
    display: flex;
    flex-direction: column;
}

.margin-left__16px{
  margin-left: 16px !important;
}

.margin-right__16px{
  margin-right: 16px !important;
}

.margin-top__16px{
  margin-top: 16px !important;
}

.margin-bottom__16px{
  margin-bottom: 16px !important;
}

.margin-left__8px{
  margin-left: 8px !important;
}

.margin-right__8px{
  margin-right: 8px !important;
}

.margin-top__8px{
  margin-top: 8px !important;
}

.margin-bottom__8px{
  margin-bottom: 8px !important;
}

.margin-left__auto{
  margin-left: auto !important;
}

.margin-right__auto{
  margin-right: auto !important;
}

.margin__auto{
  margin: auto !important;
}

.width__fit-content{
  width: fit-content !important;
}

.p-paginator {
  padding: 0rem 0rem !important;
  min-height: 60px;
}

.apexcharts-menu {
  background: #121212 !important;
  border:none !important ;
  box-shadow: 5px 5px 15px black;
}
.apexcharts-menu-item:hover {
  background: #373737 !important;

}

.p-paginator .p-dropdown {
  margin-bottom: 0px !important;
}

/*     DATATABLE GENERAL */

.p-datatable .p-datatable-header{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: transparent !important;
  padding:10px 20px 10px 10px !important;
  border:none !important;
}
.p-datatable .p-datatable-header h3{
  padding-top: 10px;
  font-size: 17px;
  font-weight: 600;
}
.p-button.p-button-outlined {
  border: none !important;
}
.p-datatable .p-datatable-header p {
  font-size: 17px !important;
}
.p-datatable .p-datatable-header .p-inputtext{
  padding-top: 12px !important;
}
.p-datatable .p-datatable-thead>tr>th {
  padding: 0.6rem 0.5rem 0rem 0.5rem !important;
  background-color: transparent !important;
}
.p-datatable .sortable-column {
  background-color: transparent !important;
}
.p-datatable .p-datatable-thead>tr>th>td {
  background-color: transparent !important;
}
.p-datatable .p-datatable-thead>tr>p {
  margin: 0rem 0rem !important;
}
.p-datatable .p-datatable-thead {
  background-color: transparent !important;
}
.p-datatable .p-datatable-wrapper {
  
  background-color: transparent !important;
}
.p-datatable .p-datatable-thead>tr>th {
  background-color: transparent !important;
}
.p-datatable .p-datatable-tbody>tr {
  background-color: transparent !important;
}
.p-datatable .p-paginator {
  background-color: transparent !important;
}
.p-datatable .p-datatable-tbody>tr>td {
  padding: 0.8rem 0rem 0.8rem 0.5rem !important;
}
.p-datatable .p-paginator-bottom{
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border:none;
}
.p-datatable .p-datatable-tbody {
  margin-bottom:20px;
}
/*    DATATABLE DARK MODE */

.dark-mode .p-datatable .p-datatable-tbody>tr:hover {
  background-color: #191919 !important;
  transform: scaley(1.01) !important;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.87);
}


.light-mode .p-datatable .p-datatable-tbody>tr>td {
  border: 1px solid #9b9b9b !important;
  border-width: 0px 0px 1px 0px !important;
}

.light-mode .p-datatable .p-datatable-tbody>tr>td,.light-mode .p-datatable .p-datatable-tbody>tr>td div,.light-mode .p-datatable .p-datatable-thead>tr>th p, .light-mode .p-datatable .p-datatable-thead>tr>th .pi {
  color:#323232 !important;
}
.light-mode .p-datatable .p-datatable-tbody>tr>td a {
  color: #323232 !important;
}

.light-mode .p-datatable .p-datatable-header .p-inputtext{
  padding-top: 12px !important;
}
.light-mode .p-datatable .p-datatable-header>tr>th {
  border:none !important;
  border-top:4px solid red !important;
  border-bottom: 4px solid red !important;
  background: linear-gradient(45deg, #46c5f1 10%, #5245b7 100%) !important;
}
.light-mode .p-datatable .p-datatable-tbody>tr:hover {
  background-color: #ffffff !important;
  transform: scaley(1.01) !important;
  box-shadow: 0px 2px 15px 0px rgb(170, 170, 170);
  cursor:default !important;
}
.light-mode .p-datatable .p-datatable-thead>tr>th {
  padding: 0.6rem 0.5rem 0rem 0.5rem !important;
  background-color: transparent !important;
}
.light-mode .p-datatable .p-datatable-header h3 {
  color:#323232 !important;
}
.light-mode .p-datatable .p-datatable-tbody>tr {
  border-bottom:2px solid rgb(207, 207, 207) !important;
}
.light-mode .p-datatable .p-datatable-header span, .light-mode .p-datatable .p-datatable-header .p-input-icon-left>i:first-of-type{
  color:#323232 !important;
}
.light-mode .p-datatable .p-datatable-header .p-inputtext {
  border:none;
  border-bottom:1px solid #323232;
  color:#323232;
}
.light-mode .p-datatable .p-datatable-header .p-inputtext::placeholder {
  color:#717171;
}

.light-mode .p-selectbutton .p-button.p-highlight{
  border: none;
  background: #46c5f1 !important;
  border-radius:32px;
}
.light-mode .p-selectbutton .p-button.p-highlight span{
  
  color: white !important;
}
.light-mode .p-selectbutton .p-button{
  border:none !important;
  background: white !important;
  border-radius: 32px;
}
.light-mode .p-selectbutton .p-button span{
  color: #323232 !important;
}
.light-mode .p-selectbutton {
  border-radius: 32px;
  box-shadow: 5px 5px 15px rgb(200, 200, 200) !important;
}

.light-mode .p-datatable .p-paginator .pi{
  color: #323232 !important;
}
.light-mode .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  color: white !important;
  background-color:#46c5f1 !important;
  border:none !important;
}

.light-mode .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
  color: white !important;
  background-color:#46c5f1 !important;
  border:none !important;
}
.light-mode .p-paginator .p-paginator-pages .p-paginator-page{
  color: #323232 ;
  border: 1px solid #46c5f1;
}

.light-mode .p-paginator-rpp-options .p-inputtext {
  color:#323232 !important;
}

.leaflet-control-zoom-in span, .leaflet-control-zoom-out span {
  color:#46c5f1 !important;
}

.p-carousel-items-container {
  display: -webkit-box !important;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #46c5f1 !important;
}
.p-inputswitch-slider:hover {
  background: #323232 !important;
}
.p-carousel-items-content {
  min-height: 260px !important;
}
.p-carousel-container {
  width:100% !important;
  
}
.p-carousel-container .pi {
  color:#46c5f1 !important;
}
.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background:#46c5f1 !important;
}
.p-carousel .p-carousel-content .p-carousel-next, .p-carousel .p-carousel-content .p-carousel-prev {
  margin: 0 !important;
  width: fit-content !important;
}
.p-column-filter-overlay {
  background: linear-gradient(180deg, #1e1e1e 50%, #121212 100%) !important;
  border:none !important;
  box-shadow: 5px 5px 15px black !important;

}

.dark-mode .p-dialog {
  background: #1b1b1b;
}

.dark-mode .p-dialog  span {
  color:white ;
}

.light-mode .p-dialog {
  background: white;
}
.light-mode .p-dialog span {
  color:#323232;

}

.p-link {
  border-radius: 20px !important;
}
  p,a,li,body, div,span{
    color: white;
    font-family: 'Mandali', sans-serif;
    
  }

  h1,h2,h3,h4,h5,h5 {
    font-family: 'Montserrat', sans-serif;
    color:white;
  
  }
  
  .abbreviate-text{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
/*
  height:15px !important;
  width:40px !important;
*/

.light-mode .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight) span,.light-mode .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight) li,.light-mode .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight) div {
  color:#323232;
}
.dark-theme-background-gray-gradient-1 {
  background: linear-gradient(180deg, #1e1e1e 50%, #121212 100%) ;
}

.dark-theme-background-gray-gradient-2 {
  background: linear-gradient(180deg, #1b1b1b 30%, #121212 100%) ;
}

.dark-theme-background-gray-gradient-3 {
  background: linear-gradient(180deg, #1b1b1b 30%, #0d0d0d 100%) ;
}

.dark-theme-application-background {
  background: linear-gradient(180deg, #121212 60%, #060606 100% ) ;
}

.light-theme-application-background {
  background: linear-gradient(180deg, #ffffff 60%, #f3f3f3 100% ) ;
}

.light-theme-background-white{
  background: white;
}

.light-theme-background-color-white{
  background-color: white;
}
.dark-theme-background-1b1b1b-imp {
  background: #151515 !important;
  background-color: #151515 !important;
}

.light-theme-color-000{
  color:#000;
}

.dark-theme-bigger-shadow {
  box-shadow: 5px 5px 15px black !important;
}

.dark-theme-smaller-shadow {
  box-shadow: 2px 2px 10px black;
}

.dark-theme-background-1b1b1b {
  background: #1b1b1b;
}


/*
.light-theme-bigger-shadow {
  box-shadow: 8px 8px 25px -8px rgba(0,0,0,0.24); 
}*/
.light-theme-bigger-shadow {
  box-shadow: 8px 8px 35px -15px rgb(200, 200, 200) !important;
}
.filter-shadow {
  box-shadow: 4px 4px 20px -5px rgb(193, 193, 193) !important;

}
.light-mode .p-overlaypanel p {

  color:#323232 !important;
}
.apexcharts-toolbar {
  z-index:1 !important;
}


.light-mode .p-overlaypanel {
  background: white !important;
  border:none !important;
box-shadow: 2px 2px 15px -5px rgb(200, 200, 200); 
}

.dark-mode  .p-overlaypanel{
  background: #1b1b1b !important;
  color:white !important;
  border:none !important;
box-shadow: 2px 2px 15px black; 
}

.light-theme-shadow {
  box-shadow: 2px 2px 15px -5px rgb(200, 200, 200); 
}

.light-theme-background-light-gray {
  background: #bababa;
}

.border-none {
  border:none;
}

.dark-theme-text-color-black {
  color:black;
}
.light-theme-text-color-black {
  color:black;
  font-weight: bold;
}
.text-color-blue {
  color: #46c5f1 !important;
}

.dark-theme-coloro-gray {
  background:red !important;
}

.dark-theme-color-gray:hover {
  background: #323232;
}


.ligh-theme-text-color-gray {
  color: #5b5b5b;
}

.light-theme-color-gray-323232 {
  color: #323232 !important;
}

.light-theme-text-color-dark-gray {
  color: #252525 !important;
}

.light-theme-color-gray:hover {
  background: #46c5f1;
}

.light-theme-color-gray a {
  color: #46c5f1 !important;

}

.light-theme-color-gray:hover a{
  color: white !important;
}

.main:hover.light-theme-color-gray.active .left {
  background: #46c5f1 !important;
  color:white !important;

}
.main:hover.light-theme-color-gray .left {
  background: #46c5f1 !important;
  color:white !important;

}

.main:hover.light-theme-color-gray .right {
  background: #46c5f1 !important;
  border-radius: 10px;
}
.active.light-theme-color-gray {
  background: #46c5f1;
  
}
.active.light-theme-color-gray a{
  color:white !important;
  
}



.dark-theme-color-blue:hover {
  background: #323232;
}

.dark-theme-color-blue a {
  color: white !important;

}

.dark-theme-color-blue:hover a{
  color: white !important;
}



.active.dark-theme-color-blue {
  background: #323232;
}
.main:hover.dark-theme-color-blue .right {
  background: #323232 !important;
  border-radius: 10px;
}


.main:hover.dark-theme-color-blue.active .left {
  background: #323232 !important;
  color:white !important;

}
.main:hover.dark-theme-color-blue .left {
  background: #323232 !important;
  color:white !important;

}

.color-white {
  color:white;
}

.color-white-imp{
  color:white !important;
}

.light-theme-bg-blue {
  background:#46c5f1;
}

.toast-right-top {
  height: 90px !important;
}

.light-mode .p-dialog-header .pi,.light-mode .p-dialog p, .light-mode .p-dialog input, .light-mode .p-dialog label{
  
  color:#323232 !important;
}

.light-mode .p-dialog ::placeholder{
  color:#aeaeae !important;
}

.light-mode .p-dropdown-panel {
  background: white !important;
  border: none !important;
  box-shadow: 5px 5px 15px rgb(200, 200, 200);
  color:#323232;

  
}

.light-mode .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight  span{
  color:white !important;
}
 
 
.light-mode .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background: #46c5f1;
}
