#map1{
    display: flex;
    position: relative;
    flex-direction: column;
    width:100%;
    height:100% !important;
    border-radius: 20px;
    /*
    box-shadow: 5px 5px 15px black;*/
    transition: ease-in-out;
    z-index: 1;
    min-height: 200px;
}
.leaflet-popup-content-wrapper {
    background-color: black;
    color: white;
  }
  