app-tab-menu-users .boja2 {
    color: rgb(4,167,119);
  }

app-tab-menu-users .fa-user-check {
    color: rgb(4,167,119);
  }

app-tab-menu-users .color:hover{
    color: rgb(4,167,119) !important;
  }

.right {
 margin-bottom: 10%;
  width:45%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.p-dropdown {
  position:relative;
  margin-bottom: 20px;
  border-radius: 30px;
  border:none;
  background-color:rgb(4, 167, 119);
}


#pr_id_1_label{
  border-radius: 30px 30px;
  font-size: 17px;
  padding:8px 20px;
  border:none;
}

#pr_id_2_label{
  border-radius: 30px 30px;
  font-size: 17px;
  padding:8px 20px;
  border:none;
}
