.tab.active6 .tab-icon i{
  color: #46c5f1 !important;
}

.tab.active6 .tab-title {
  color: #46c5f1 !important;
}

.main-grid {
}


.light-mode2 {
  box-shadow: 8px 8px 32px -5px rgb(200, 200, 200); 
  border-radius: 20px;
  margin-bottom:32px;
}


.light-mode {
  color:#323232 !important;
}