<standard-template>
    <app-title-bar>
      <h3>Home</h3>
    </app-title-bar>
  
    <app-center-bar>
    <h3 class="hello">Hello, Vanja Mijatovic</h3>
    <div class="widgets">
        
      <app-widget [isBlue]="true" [isBgBlue]="true" class="widget">
      </app-widget>
      <app-widget [isYellow]="true" [isBgYellow]="true" class="widget">
      </app-widget>
      <app-widget [isPink]="true" [isBgPink]="true" class="widget">
      </app-widget>
      <app-widget [isBlue]="true" [isBgBlue]="true" class="widget">
      </app-widget>
        
    </div>
   
    
    <!--<div class="filter-div"><span>filter</span></div>-->
    </app-center-bar>
  </standard-template>
  