<standard-template>
    <app-title-bar>
      <h3>Home</h3>
    </app-title-bar>
  
    <app-center-bar *ngIf="loader"><app-loader></app-loader></app-center-bar>
    <app-center-bar *ngIf="!loader">
    <h3 class="hello">Hello, {{user?.firstName}} {{user?.lastName}}</h3>
    <h6 style="margin-bottom: -10px;font-size:14px !important;">{{quote}}</h6>
    <div class="prviDeoPrognoza">
    <div class="prviDeo">
    <div class="widgets">

      <app-widget [subTitle]="'Total consumed electricity this month'" [Title]="monthPowerUsageConsumer + ' kWh'" [isBlue]="true" [isBgBlue]="true" class="widget">
      </app-widget>
      <app-widget [subTitle]="'Total produced electricity this month'" [Title]="monthPowerUsageProducer + ' kWh'"[isYellow]="true" [isBgYellow]="true" class="widget">
      </app-widget>
      <app-widget [subTitle]="'Total stocked  electricity this month'" [Title]="monthPowerUsageStorage+ ' kWh'" [isPink]="true" [isBgPink]="true" class="widget">
      </app-widget>
      <app-widget  [subTitle]="'Current price of electricity'" [Title]="dayPowerPrice+ ' RSD kWh'" [isOrange]="true" [isBgOrange]="true" class="widget">
      </app-widget>
        
    </div>
    <h3 class="hello">Top Devices</h3>
    <div style="display: flex;
    flex-direction: row;
    flex-wrap: wrap;">
    <div class="crsl" style="width: 30%;">
        <p-carousel *ngIf="devices[0].deviceName != 'default'" [value] = "devices" [circular]="false" [numScroll]="1">
          <ng-template let-device pTemplate="device">
              <h6 style="text-align: center;">The biggest {{device.deviceType}}</h6>
              <div *ngIf ="device.deviceName != 'default'">
              <app-device-card [device]="device" [devices]="devices"></app-device-card>
              </div>
              <div *ngIf ="device.deviceName == 'default'">
                <div style="cursor: pointer;margin-top:40px" (click)="showDisplay()">
                <div style="width:92%;height:170px;margin:auto;background-color: #1b1b1b;border-radius: 20px;box-shadow: 5px 5px 15px black;text-align: center;">
                <div style="padding: 20px;padding-top:70px"><i class="fa fa-plus" aria-hidden="true"></i>Add {{device.deviceType}} device</div>
                </div>
                </div>
              </div>
          </ng-template>
        </p-carousel>
        </div>
        
        <div class="slika" style="margin-left:1.8%; margin-top:0px;border-radius: 20px;float:right;height: 300px; width: 68.2%;background-image: url('/assets/images/application-images/blue.jpg');background-size: cover;">
          
        </div>
    </div>
  

    </div>
    <div class="divVreme">
      <div class="vreme">
        <app-weather-forecast></app-weather-forecast>
      </div>
    </div>
  </div>
  <h3 class="hello">News and fun</h3>
  <div class="promotions" >
    <app-promotion [subTitle]="naslov1"
     [Title]="sadrzaj1" 
     [Status]="status1"
     [Datum]="datum1"
     [isBlue]="true" [isBgBlue]="true" class="promotion">
    </app-promotion>
    <app-promotion
    [subTitle]="naslov2"
    [Datum]="datum2"
    [Status]="status2"
    [Title]="sadrzaj2"
    [isYellow]="true" [isBgYellow]="true" class="promotion1">
    </app-promotion>
    <app-promotion
    [subTitle]="naslov3"
    [Datum]="datum3"
    [Status]="status3"
    [Title]="sadrzaj3"
    [isPink]="true" [isBgPink]="true" class="promotion1">
    </app-promotion> 
  </div>

    
    <!--<div class="filter-div"><span>filter</span></div>-->
  </app-center-bar>

  </standard-template>
  

  
<p-dialog [style]="{width:'40%'}" header="Title"  [transitionOptions]="'3ms'" 
[draggable]="true" [keepInViewport]="true" [resizable]="false" 
[blockScroll]="true" [closeOnEscape]="true" [dismissableMask]="true" 
[modal]="true" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
[closable]="true" >
<ng-template pTemplate="header" class="header-dialog">
  <span>Add Device</span>
</ng-template>

<ng-template pTemplate="content">
  <form [formGroup]="addDeviceForm" >  
  <div class="p-inputgroup p-inputtext-lg p-input-filled">
    <div class="half">  
      Device type 
      <p-dropdown [options]="types" appendTo="body" optionLabel="name" (onChange)="onTypeChange($event)"/>
      Device model 
      <p-dropdown [options]="models" appendTo="body" optionLabel="name" (onChange)="onModelChange($event)"/>
    </div>
    
    <div class="half">       
       Room
      <p-dropdown [options]="rooms" appendTo="body" optionLabel="name" (onChange)="onRoomChange($event)"/>
      <input style="margin-top:45px;" formControlName="deviceName" name="name"  appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="DEVICE NAME"> 
    </div>
  </div> 
  </form>
</ng-template>

<ng-template pTemplate="footer" style="min-height:100px;" >
  <button type="button" class="footer-button" icon="pi pi-info-circle" label="Show" (click)="addDevice()"><span>Save</span></button>

</ng-template>
</p-dialog>

