<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="logoAndLinks" class="logoAndLinks">
    <img id="logo" class="logo" src="/assets/images/logo-images/logo.png">
    <div id="links" class="links flexRow">
        <div class="linkContainers flexColumn">
            <a href="">NEWS</a>
            <a href="">SAVING ENERGY</a>
            <a href="">WATERING PLANTS</a>
        </div>
        <div class="linkContainers flexColumn">
            <a href="">SERVICES</a>
            <a href="">ENERGY SAVING PLANS</a>
            <a href="">RESOURCES</a>
        </div>
        <div class="linkContainers flexColumn">
            <a href="">SUPPORT</a>
            <a href="">FAQ</a>
        </div>
        <div class="linkContainers flexColumn">
            <a href="">ABOUT US</a>
            <a href="">CONTACT US</a>
            <a href="">RESOURCES</a>
            <a href="">ABOUT US</a>
        </div>
    </div>
</div>
<hr>
<div id="socialMedia" class="socialMedia flexColumn">
    <div id="socialMediaIcons" class="socialMediaIcons flexRow">
        <a href="" class="fa fa-linkedin"></a>
        <a href="" class="fa fa-youtube"></a>
        <a href="" class="fa fa-facebook"></a>
        <a href="" class="fa fa-twitter"></a>
        <a href="" class="fa fa-skype"></a>
    </div>
    <p>&copy;Copyright All rights reserved.</p>
</div>
