<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div  class=" flexRow" style="justify-content:center;align-items:center">
    <img id="logo" class="logo" src="/assets/icons/images/cse.pn1.png" style="margin-left:80px;">
    <img id="logo" class="logo2" src="/assets/icons/images/cse.pn2.png">
    
</div >
<div id="socialMedia" class="socialMedia flexColumn " style="margin-top:50px;">
    <a href="https://icons8.com/" style="color:white">Icons provided by icons8</a>
    <p>&copy;Copyright All rights reserved.</p>
</div>
