<div [ngClass]="{'light-mode':lightMode}"><p-selectButton class="flexRow width__fit-content margin-left__auto margin-bottom__16px" [options]="switchOptions" [(ngModel)]="switchValue" optionLabel="label" optionValue="value" (onChange)="updateView()"></p-selectButton>
</div>
<div *ngIf="switchValue == true">
  <div *ngFor="let devices of devicesByRoomType | keyvalue; index as i">
    
      <div class="hederContainer">
        <p class="roomNameHeader"  [ngClass]="{'light-mode':lightMode}">{{ devices.key }}</p>
        <div class="arrow"  [ngClass]="{'light-mode':lightMode}"><i class="fa-solid fa-angle-down"  [ngClass]="{'arrow-down': carousel[i],'arrow-right': !carousel[i]}"  (click)="collapseDevices(i)"></i></div>
        <p  class="roomSizeHeader"  [ngClass]="{'light-mode':lightMode}">Total: {{ devices.value.length }}</p>
      </div>
    <p-carousel [value]="devices.value"  [circular]="false" [responsiveOptions]="responsiveOptions" [ngClass]="{'hidden': carousel[i]}">
     <ng-template let-device pTemplate="device" >
          <app-device-card [device]="device" ></app-device-card>
      </ng-template>
    </p-carousel>
  </div>
</div>

<div *ngIf="switchValue == false">
  <div [ngClass]="{'light-mode': lightMode,'light-mode2': lightMode, 'dark-mode2': !lightMode,'dark-mode': !lightMode}">
  <p-table #dtAllDevices class="ui-table-default" [value]="devices" dataKey="id" [scrollable]="true" 
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
    [globalFilterFields]="['userId','deviceName','room', 'deviceType']" [paginator]="true"
    style="
    margin-top:32px;
    display: flex;
    position: relative;
    flex-direction: column;
    height: fit-content;
    border-radius: 20px;
    transition: ease-in-out;
    padding:10px 20px;
      ">

    <ng-template pTemplate="caption">
      <div class="flexRow">
          <h3>Devices</h3>
          <span class="p-input-icon-left margin-left__auto margin-right__16px">
              <i class="pi pi-search"></i>
              <input #searchInput pInputText type="text" (input)="dtAllDevices.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
          </span>
          <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dtAllDevices)"></button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr >
        <th pSortableColumn="deviceName" style="min-width:15rem;   border-top:2px solid #46c5f1; border-bottom:2px solid #46c5f1;">
          <div class="flexRow">
              <p>Device name</p>
              <p-sortIcon field="deviceName"></p-sortIcon>
              <p-columnFilter class="ml-auto" type="text" field="deviceName" display="menu"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="room" style="min-width:15rem;  border-top:2px solid #46c5f1; border-bottom:2px solid #46c5f1;">
          <div class="flexRow">
              <p>Location</p>
              <p-sortIcon field="room"></p-sortIcon>
              <p-columnFilter class="ml-auto" type="text" field="room" display="menu"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="deviceType" *ngIf="isCurrentRoute('devices')" style="min-width:10rem; border-top:2px solid #46c5f1; border-bottom:2px solid #46c5f1;">
          <div class="flexRow">
              <p>Category</p>
              <p-sortIcon field="deviceType"></p-sortIcon>
              <!-- <p-columnFilter class="ml-auto" type="text" field="deviceType" display="menu"></p-columnFilter> -->
              <p-columnFilter field="deviceType" matchMode="equals" display="menu">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [(ngModel)]="selectedStatusFilter" [options]="statusFilterOptions" (onChange)="filterStatus($event.value)" placeholder="Any">
                    <ng-template let-option pTemplate="item">
                      <p-tag [value]="option.value" [severity]="getSeverity(option.label)"></p-tag>
                    </ng-template>
                  </p-dropdown>                  
                </ng-template>
            </p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-device>
      <tr style="cursor:pointer !important;" [routerLink]="['/device', device.id]">
        <td><a [routerLink]="['/device', device.id]">{{ device.deviceName }}</a></td>
        <td><a [routerLink]="['/device', device.id]">{{device.room}}</a></td>
        <td *ngIf="isCurrentRoute('devices')"><a [routerLink]="['/device', device.id]">{{device.deviceType}}</a></td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
          <td colspan="3">No devices found.</td>
      </tr>
    </ng-template>
  </p-table>
</div></div>
