<standard-template>
    <app-title-bar>
      <h3>All devices</h3>
    </app-title-bar>

    <app-select-one-menu-bar>
        <app-tab-menu></app-tab-menu>
    </app-select-one-menu-bar>
  
    <app-center-bar>
      <div *ngFor="let devices of devicesByRoomType | keyvalue">
        <p-carousel [value]="devices.value" [numVisible]="numVisible" [circular]="false" [numScroll]="1">
          <ng-template pTemplate="header">
            <div class="hederContainer">
              <p class="roomNameHeader">{{ devices.key }}</p>
              <p class="roomSizeHeader">Total number of devices: {{ devices.value.length }}</p>
            </div>
          </ng-template>
          <ng-template let-device pTemplate="device">
              <app-device-card [device]="device"></app-device-card>
          </ng-template>
        </p-carousel>
      </div>
    </app-center-bar>
</standard-template>
  