<standard-template>
    <app-title-bar>
      <h3 >Operator</h3>
    </app-title-bar>
  
    <app-center-bar>
      <div  class="main-grid"> 
        <div style="display:flex; flex-direction:column; height:fit-content;float:left;">
          <app-admin-card class="usercard"></app-admin-card> 
          <div class="slika" style="margin-top:32px;border-radius: 20px; height:calc(100vh - 640px - 8.6vh); width: 100%;background-image: url('/assets/images/application-images/vesti.jpg');background-size: cover;background-position: 700px;">     
          </div>
        </div>
        <div class="map">
          <!-- <app-user-profile-component></app-user-profile-component> -->
          <app-admin-map></app-admin-map>
        </div>
      </div>
    </app-center-bar>
    
  </standard-template>