<standard-template>
    <app-title-bar>
      <h3 >Operator</h3>
    </app-title-bar>
  
    <app-center-bar>
      <div  class="main-grid"> 
        <div style="display:flex; flex-direction:column; height:fit-content;float:left;">
          <app-admin-card class="usercard"></app-admin-card> 
          
        </div>
        <div class="map">
          <!-- <app-user-profile-component></app-user-profile-component> -->
          <app-admin-map></app-admin-map>
        </div>
      </div>
    </app-center-bar>
    
  </standard-template>