<nav>
    <a routerLink="/devices" class="color">
        <i class="fa-solid fa-bars"></i>
     <b  class="boja"><span>All</span></b>
    </a>
    <a routerLink="/devices/consumption" class="color">
        <i class="fa-solid fa-plug-circle-bolt"></i>
      <b class="boja2" ><span>Consumption</span></b>
    </a>
    <a routerLink="/devices/production" class="color">
        <i class="fa-solid fa-solar-panel"></i>
      <b class="boja3"><span>Production</span></b>
    </a>
    <a routerLink="/devices/stock" class="color">
        <i class="fa-sharp fa-solid fa-battery-half"></i>
       <b class="boja4" ><span>Stock</span></b>
      </a>
  </nav>
  
  