<nav>
    <a routerLink="/devices" class="color">
        <i class="fa-solid fa-bars"></i>
     <div><b  class="boja">All</b></div> 
    </a>
    <a routerLink="/devices/consumption" class="color">
        <i class="fa-solid fa-plug-circle-bolt"></i>
      <div><b class="boja2" >Consumption</b></div> 
    </a>
    <a routerLink="/devices/production" class="color">
        <i class="fa-solid fa-solar-panel"></i>
      <div><b class="boja3">Production</b></div> 
    </a>
    <a routerLink="/devices/stock" class="color">
        <i class="fa-sharp fa-solid fa-battery-half"></i>
        <div><b class="boja4">Stock</b></div> 
      </a>
  </nav>
  
  