<div class="tab-menu">
  <div routerLink="/devices" class="tab active">
    <span class="tab-icon"> <i class="fa-solid fa-bars"></i></span>
    <span class="tab-title">All</span>
  </div>
  <div routerLink="/devices/consumption" class="tab active1">
    <span class="tab-icon"><i class="fa-solid fa-bolt"></i></span>
    <span class="tab-title">
      Consumption</span>
  </div>
  <div routerLink="/devices/production"  class="tab active2">
    <span class="tab-icon"><i class="fa-solid fa-solar-panel"></i></span>
    <span class="tab-title">
      Production</span>
  </div>
  <div routerLink="/devices/stock" class="tab active3">
    <span class="tab-icon"><i class="fa-solid fa-car-battery"></i></span>
    <span class="tab-title">Stock</span>
  </div>
</div>