//host, host open

:host {
    display:flex;
    flex-direction: column;
    position:absolute;
    left:0px;
    width:70px;
    height:100vh;
    box-sizing: border-box;
    z-index: 1;
    transition: all 0.5s ease;
}

@keyframes op {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:host.open {
    width:234px;

    .logo-title {
      
      img {
        transition: all 0.5s ease;
        opacity: 1;
      }
    }
    
    .submain {
      width:calc(100% - 70px);
      margin-left:60px;

      .left {
        display: none;
      }
    }

    .right {
        padding-left:10px;
        display:flex;
        width:calc(100% - 50px);
        height:50px;
        clear: both;

        .title {
          transition:opc 0.5s ease;
          display: flex;
          width:102px;
          
        }
        .subtitle {
          transition:all 0.5s ease;
          display: flex;
          width:152px;
          
        }

        .arrow {
          display: flex;
          width: 50px;
          height: 50px;
          text-align: center;
          align-items: center;
          justify-content: center;
          transition-duration: 0.2s;
          transform: rotate(0deg);

        }
            
        .passive {
          transition-duration: 0.2s;
          transform: rotate(90deg);
        }
    }
}

.main {
  display: flex;
  flex-direction: row;
  width:calc(100% - 20px);
  margin:10px 10px 0px 10px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
}

.submain {
  width:calc(100% - 20px);
  margin-left:10px;
}

.left {
    display: flex;
    width:50px;
    height:50px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index:1;
    .icon {
      width:100%;
    }

    .pipe {
      width:2px;
      height:100%;
      border-radius:10px;
      background-color: white;
    }

    .icon-hidden {
      position: absolute;
      opacity: 0;
      transform: translateX(40px);
      transition-duration: 1s;
    }

    .icon-displayed {
      opacity: 1;
      position: absolute;
      transform: translateX(0px);
      transition-duration: 1s;
    }
}

@keyframes opc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}

.right {
    display: flex;
    transition: all 0.5s ease-in-out;
    align-items: center;

    .title {
      transition:opc 0.5s ease;
      display: none;
    }
    
    .subtitle {
      transition: 0.5s ease;
      display: none;
    }
}



.arrow {
  display: none;
}

.sidebar-arrow {
  font-size: 24px;
  z-index: 3;
  position:absolute;
  right:-12px;
  top:60px;
  cursor: pointer;
}

.arrow-left {
  transform: rotate(0deg);
  transition-duration: 1s;
}
.arrow-right {
  transform: rotate(180deg);
  transition-duration: 1s;
}



.logo {
  margin-top:10px;
  display:flex;
  flex-direction: row;
  padding:10px 10px 0px 10px;
  height:60px;
}

.submenu {
  height: 0px;
  opacity: 0;
  transition-duration: 0.5s;
  .left, .right, .main {
    display: none;
  }
}

.hidden {
  opacity: 1;
  height:fit-content;
  transition-duration: 0.5s;
}

.logo-icon {
  width:50px;

  img {
    cursor: pointer;
    width:46px;
    height:46px;
  }

}

.submain-title {
  display:none;
}

.logo-icon:hover {
  img{
    transform: rotate(360deg);
    transition-duration: 1s;
  }
}

.logo-title {
  width: calc(100% - 50px);
  height:50px;
  padding-left:10px;
  transition: all 0.5s ease-in-out;

  img {
    opacity: 0;
    height:50px;
    width:auto;
    cursor: pointer;
  }
}

:host.close {
  .right {
    transform: translateX(0px);
  }
}
:host.close .margin-100:hover {
  margin-bottom: -100px;
}
:host.close .main:hover{
 
  width:fit-content;
  background:transparent !important;
  overflow: hidden;
  z-index: 4;
  .left {
    background-color: #222222;
  }

  .right {
    pointer-events:none;
    transform: translateX(30px);
    background-color: #222222;
    left:70px;
    display:flex;
    z-index:3;
    flex-direction: column;
    width:132px;
    border-radius: 10px;

    .title {
      display: flex;
      width:102px;
      height:50px;

      a {
        display: flex;
        align-self: center;
      }
    }

    .submain-title {
      display: flex;
      height:50px;
      width:102px;
      
      a {
        display: flex;
        align-self: center;
      }
    }
  }
}