<standard-template>
  <app-title-bar>
    <h3>User</h3>
  </app-title-bar>

  <app-center-bar>
    <div class="user">
      <div class="usercard" >
        <app-user-card></app-user-card>
      </div>
      <div class="mapaISlika" >
        <app-user-profile-component></app-user-profile-component>
        <div class="slika" style="margin-top:20px;border-radius: 20px;float:right;height: 48%; width: 100%;background-image: url('/assets/images/landing-page-images/saveEnergy.jpg');background-size: cover;">     
        </div>
      </div>
    </div>
  </app-center-bar>
  
</standard-template>