<standard-template>
  <app-title-bar>
    <h3 [ngClass]="{'light-theme-color-gray-323232':lightMode}">User</h3>
  </app-title-bar>

  <app-center-bar>
    <div  class="main-grid"> 
      <div style="display:flex; flex-direction:column; height:fit-content;float:left;">
        <app-user-card class="usercard"></app-user-card> 
        
      </div>
      <div class="map">
        <app-user-profile-component></app-user-profile-component>
      </div>
    </div>
  </app-center-bar>
  
</standard-template>