<div id="device-card" class="device-card">
    <div class="flexRow">
        <a [routerLink]="['/device', device.id]" class="device-name abbreviate-text">{{ device.deviceName }}</a>
        <p-inputSwitch [(ngModel)]="device.isActive" (onChange)="handleRunningSwitchChange()" class="margin-left__auto width__fit-content"/>
    </div>
    <div class="flexRow" style="margin-top: 16px;">
        <span class="bold-text">Status:</span>
        <span *ngIf="!isChecked" class="margin-left__auto">Idle</span>
        <span *ngIf="isChecked" class="margin-left__auto">Running</span>
    </div>
    <div class="flexRow" style="margin-top: 6px;">
        <span  class="bold-text">Type:</span>
        <span class="margin-left__auto">{{ device.deviceType }}</span>
    </div>
    <div class="flexRow" style="margin-top: 6px;">
        <span *ngIf="device.deviceType === 'Consumer'"  class="bold-text">Power consumed:</span>
        <span *ngIf="device.deviceType === 'Producer'"  class="bold-text">Power produced:</span>
        <span *ngIf="device.deviceType !== 'Consumer' && device.deviceType !== 'Producer'"  class="bold-text">Power stored:</span>
        <span class="margin-left__auto">{{ device.power }} kW/h</span>
    </div>
</div>