
.device-card{
    min-width: 250px;
    width: 92%;    background: linear-gradient(180deg, #1b1b1b 50%, #121212 100%) ;
    border-radius: 20px;
    padding: 16px;
    margin: auto;
    box-shadow: 5px 5px 15px black;
    min-height:170px;
    margin-top: 40px;
    max-width:300px;
}

img {
    height:40px;
    width:auto;
    padding-right:10px;
}

.device-card:hover{
    transform: scale(1.01);
}

.device-name{
    max-width: 50%;
    width: fit-content;
    font-size: 20px;
}

a{
    font-size: 18px;
    text-decoration: none;
    color: #46c5f1;
    font-weight: bold;
}

.color-blue {
    color: #46c5f1;
}

.color-purple {
    color:#885ec0;
}

.color-pink {
    color: #eb4886;
}

.bold-text {
    font-weight: bold;
}

.color-gray{
    color:rgb(184, 184, 184);
  }

  
button {
    margin: auto;
    border: none;
    min-width: 120px;
    border-radius: 32px;
    display: block;
    background: linear-gradient(45deg, #46c5f1 10%, #5245b7 100%);
    color: #fff;
    box-shadow: 2px 2px 10px black;
  font-size: 16px;
  color:white;
  padding:8px 20px;
  position: absolute;
  bottom:20px;
}

.edit-btn {
  left:10px;
}
.remove-btn {
    float:right !important;
    right:20px;
    background: linear-gradient(135deg,#eb4886,#f075a4) !important;
}