
.device-card{
    min-width: 200px;
    width: 92%;
    background-color: #1b1b1b;
    border-radius: 20px;
    padding: 16px;
    margin: auto;
    box-shadow: 5px 5px 15px black;
    height: fit-content;
    height:170px;
    margin-top: 2%;
}

.device-card:hover{
    transform: scale(1.01);
}

.device-name{
    max-width: 75%;
    width: fit-content;
}

a{
    font-size: 24px;
    text-decoration: none;
    color: rgb(4, 167, 119);
    font-weight: bold;
}

.bold-text {
    font-weight: bold;
}