.device-card{
    min-width: 240px;
    width: 100%;
    height: 160px;
    background-color: #222222;
    border-radius: 32px;
    padding: 16px;
    margin: auto;
}

.device-name{
    max-width: 75%;
    width: fit-content;
}

a{
    font-size: 24px;
    text-decoration: none;
}