<div id="device-card" class="device-card">
    <div class="flexRow">
        <a [routerLink]="['/device', device.id]"  style="display:flex;padding-top:5px;"><img src="../.../../../../../../assets/icons/images/icons8-fridge-50.png"></a>
        <a [routerLink]="['/device', device.id]" class="device-name abbreviate-text" style="padding-top:2px">{{ device.deviceName }}</a>
        <p-inputSwitch [(ngModel)]="isChecked" (click)="showDialog()" class="margin-left__auto width__fit-content"/>
    </div>
    <div class="flexRow" style="margin-top: 16px;">
        <span >Status:</span>
        <span *ngIf="!isChecked" class="margin-left__auto" style="color:#eb4886;">Idle</span>
        <span *ngIf="isChecked" class="margin-left__auto color-gray" style="color:#46c5f1;">Running</span>
    </div>
    <div class="flexRow" style="margin-top: 6px;">
        <span>Type:</span>
        <span class="margin-left__auto color-gray">{{ device.deviceType }}</span>
    </div>
    <div class="flexRow" style="margin-top: 6px;">
        <span *ngIf="device.deviceType === 'Consumer'"  >Power consumed:</span>
        <span *ngIf="device.deviceType === 'Producer'"  >Power produced:</span>
        <span *ngIf="device.deviceType !== 'Consumer' && device.deviceType !== 'Producer'"  class="bold-text">Power stored:</span>
        <span class="margin-left__auto color-gray">{{ device.power }} kW/h</span>
    </div>
</div>


<p-dialog [style]="{width:'300px',height:'200px'}" header="Title"  [transitionOptions]="'3ms'" 
[draggable]="true" [keepInViewport]="true" [resizable]="false" 
[blockScroll]="true" [closeOnEscape]="true" [dismissableMask]="true" 
[modal]="true" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
[closable]="true" >
<ng-template pTemplate="header" class="header-dialog">
  <span >Are you sure you want to do that?</span>
</ng-template>

<ng-template pTemplate="center">
  <div class="flexRow">
    <button class="margin-left__16px edit-btn"  (click)="handleRunningSwitchChange()"> Yes</button>
    <button class="margin-left__16px remove-btn"  (click)="display=false"> No</button>
  </div>
</ng-template>

</p-dialog>