<standard-template>
  <app-title-bar>
    <h3>Statistics</h3>
  </app-title-bar>

  <app-center-bar *ngIf="loader"><app-loader></app-loader></app-center-bar>
    <app-center-bar *ngIf="!loader">
      <div style="width:100%; height:fit-content; display:flex; flex-direction:row;margin-bottom:32px;">
          <div style="margin-bottom:10px" class="pdd-div"> <div [ngClass]="{'light-mode':lightMode}" ><p-dropdown [options]="type" [(ngModel)]="selectedType" optionLabel="name" (onChange)="dropdownChange()" >
          </p-dropdown></div></div>
          <div class="pdd-div"> <div [ngClass]="{'light-mode':lightMode}" ><p-dropdown [options]="type2"  [(ngModel)]="selectedHF"  optionLabel="name" (onChange)="updateType3()" >
          </p-dropdown></div></div>
        
        <div class="pdd-div"><div [ngClass]="{'light-mode':lightMode}" ><p-dropdown [options]="type3" [(ngModel)]="selectedDate" optionLabel="name" (onChange)="dropdownChange()" >
        </p-dropdown></div></div>
      </div>
  <div class="main-grid">
    <div class="twoCharts" *ngIf="tableHiFWeek">
      <p-selectButton class="flexRow width__fit-content margin-left__auto margin-bottom__16px" [options]="switchOptions" [(ngModel)]="switchValue" optionLabel="label" optionValue="value"></p-selectButton>
      <app-history-line-chart [boja1]="color1" [array] = "miniHistory" [array2] = "miniarrayData1" class="handf" *ngIf="switchValue == true"></app-history-line-chart>
      <app-forecast-line-chart  [boja1]="color1" [array] = "miniForecast" [array2] = "miniarrayData2" class="handf" *ngIf="switchValue == false"></app-forecast-line-chart>
    </div>
    <div class="twoCharts" *ngIf="!tableHiFWeek">
      <app-history-forecast [boja1]="color1" [boja2]="color2" [naziv1]="name1" [naziv2]="name2" [array] = "History" [array2]="Forecast" [array3] = "dates" class="chart" [Title]="Title"  style="width:100% !important;"></app-history-forecast>
    </div>
    <app-history-forecast [boja1]="color1" [boja2]="color2" [naziv1]="name1" [naziv2]="name2" [array] = "History" [array2]="Forecast" [array3] = "dates" class="chart" id="oneChart" [Title]="Title"  style="width:62.5% !important;"></app-history-forecast>

    <div class="stats-cards for-pc">
        
      <app-stats-card class="stats-card" [isBgBlue]="true" [Title]="TitleMin" [subTitle]="theDay+ dataMin" [value]="min" [hasIcon]="true"></app-stats-card>
      <app-stats-card class="stats-card" [isBgPurple]="true" [Title]="TittleMax" [subTitle]="theDay + dataMax" [value]="max" [hasIcon]="true"></app-stats-card>
      <app-stats-card class="stats-card" [isBgPink]="true" [Title]="TitleAverage" [value]="average" [hasIcon]="true"></app-stats-card>
      <app-stats-card class="stats-card" [isBgOrange]="true" [Title]="TitleTotal"  [value]="total" [hasIcon]="true"></app-stats-card>
     
    </div>
    <div class="stats-cards for-phone">
        
      <app-stats-card class="stats-card" [isBgBlue]="true" [Title]="TitleMin" [subTitle]="theDay + dataMin" [value]="min" [hasIcon]="false"></app-stats-card>
      <app-stats-card class="stats-card" [isBgPurple]="true" [Title]="TittleMax" [subTitle]="theDay + dataMax" [value]="max" [hasIcon]="false"></app-stats-card>
      <app-stats-card class="stats-card" [isBgPink]="true" [Title]="TitleAverage"  [value]="average" [hasIcon]="false"></app-stats-card>
      <app-stats-card class="stats-card" [isBgOrange]="true" [Title]="TitleTotal" [value]="total" [hasIcon]="false"></app-stats-card>
     
    </div>

    <div class="bottom-grid">
      <div class="tabela">
      <app-history-forecast-table *ngIf="table"
        style="
        margin-top:32px;
        display: flex;
        position: relative;
        flex-direction: column;
        height: fit-content;
        border-radius: 20px;
        transition: ease-in-out;
        padding:10px 20px 30px 20px;
        " [name1]="name1" [name2]="name2" [hif]="hif" [ngClass]="{'light-mode':lightMode}">
      </app-history-forecast-table>
      <app-history-or-forecast-table  *ngIf="!table"
        style="
          margin-top:32px;
          display: flex;
          position: relative;
          flex-direction: column;
          height: fit-content;
          width: 100%;
          border-radius: 20px;
          transition: ease-in-out;
          padding:10px 20px 30px 20px;"  [name]="name" [History]="History" [Forecast]="Forecast" [dates]="dates"  [ngClass]="{'light-mode':lightMode}">
          </app-history-or-forecast-table>
    </div>
      <div class="bottom-right">
        <div class="map">
          <app-pie-chart [Series]="count" [chartLabels]="rooms" [chartText]="text" ></app-pie-chart>    
      
        </div>
        <app-area-bar-chart [seriesData]="numbersComparison"></app-area-bar-chart>

      </div>
    </div>
    
</div>
  </app-center-bar>
</standard-template>