.dijagrami {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .chart-container {
    display: inline-block;
    margin: 10px;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    background-color: #1b1b1b;
    box-shadow: 5px 5px 15px black;
  }
  .chart-container-pie {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .chart-container-bar
  {
    display: inline-block;
    margin: 10px;
    height: 300px;
    border-radius: 20px;
    background-color: #1b1b1b;
    box-shadow: 5px 5px 15px black;
  }

  .chart-container-pie {
    width: 400px;
    height: 212px;
    border-radius: 20px;
    background-color: #1b1b1b;
    box-shadow: 5px 5px 15px black;
    padding-right: 200px;

  }
  
::ng-deep #SvgjsG4317 {
  width:50%
}

  .hist-forecast {
    display: inline-flex;
  }
  
  .bar-plot {
    display: inline-flex;
  }
  
  .consumption {
    background-color:#7d02d4;
  }
  .production {
    background-color: #d90372;
  }
  .stock {
    background-color: #04a777;
  }
  .all {
    background-color: #F75C03;
  }
  
::ng-deep .p-dropdown {
  display: block;
  position:relative;
  margin-bottom: 20px;
  border-radius: 30px;
  border:none;
}
::ng-deep #pr_id_1_label{
  border-radius: 30px 30px;
  background-color:#7d02d4;
  font-size: 17px;
  padding:5px 20px;
  border:none;
}

p-table{
  width: 48.5%
}

@media only screen and (min-width: 769px) {
  .main-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .twoCharts{
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .chart{
    width: 100%;
    margin: 10px 0px;
  }
  p-table{
    width:100%
  }

  .twoCharts{
    width: 100%;
    margin: 10px 0px;
  }

  .handf{
    margin: 10px 0px;
  }

  #oneChart
  {
    display: none;
  }
}
  
@media only screen and (max-width: 768px) {
  .chart{
    width: 100%;
    margin: 10px 0px;
  }
  p-table{
    width:100%
  }

  .twoCharts{
    width: 100%;
    margin: 10px 0px;
  }

  .handf{
    margin: 10px 0px;
  }

  #oneChart
  {
    display: none;
  }
}
  
  