.tab.active5 .tab-icon i{
  color: #46c5f1 !important;
}

.tab.active5 .tab-title {
  color: #46c5f1 !important;
}


.widgets-users {
  display:flex;
  float:right; 
  flex-direction:column;
   width:20%; 
  padding: 0px 0;
  
  position:relative;
  align-items: end;
  justify-content: space-evenly;
}

.widget-users {
  margin-bottom: 30px;
  position: relative;
  width:90%;
  
}
.widget-users:last-of-type {
  margin-bottom: 0;
}
.widgets-users::-webkit-scrollbar {
  width: 10px; /* adjust to your desired width */
}

.widgets-users::-webkit-scrollbar-thumb {
  background-color: rgba(214, 214, 214, 0.212); /* adjust to your desired color */
  border-radius: 10px; /* adjust to your desired radius */
}

.light-mode2 {
  box-shadow: 8px 8px 32px -5px rgb(200, 200, 200); 
  border-radius: 20px;
  margin-bottom:32px;
}


.light-mode {
  color:#323232 !important;
}

.light-mode-title-bar h3{
  color:#323232;
}

.dark-mode2 {
  background: linear-gradient(180deg, #1b1b1b 30%, #121212 100%) ;
  box-shadow: 5px 5px 15px black !important; 
  border-radius: 20px;
  margin-bottom:32px;
}