<standard-template  *ngIf="isAdmin()">
  <app-title-bar>
    <h3>Home</h3>
  </app-title-bar>
  <app-center-bar>
  <div class="widgets">
      
    <app-widget [subTitle]="'Current price of electricity'" [Title]="dayPowerPrice + ' RSD kW/h'" [isBlue]="true" [isBgBlue]="true" class="widget">
    </app-widget>
    <app-widget [subTitle]="'Total consumed electricity this month'" [Title]="monthPowerUsageConsumer + ' kW/h'" [isYellow]="true" [isBgYellow]="true" class="widget">
    </app-widget>
    <app-widget [subTitle]="'Total produced electricity this month'" [Title]="monthPowerUsageProducer + ' kW/h'" [isPink]="true" [isBgPink]="true" class="widget">
    </app-widget>
    <app-widget  [subTitle]="'Total stocked  electricity this month'" [Title]="monthPowerUsageStorage+ ' kW/h'" [isOrange]="true" [isBgOrange]="true" class="widget">
    </app-widget>
      
  </div>
  <p-dropdown [options]="type" appendTo="body" [(ngModel)]="selectedType" optionLabel="name"  >
  </p-dropdown>
 
  <div class="main-grid">
    <app-history-forecast clas="hist-forecast"></app-history-forecast>
    <app-pie-chart  clas="bar-plot"></app-pie-chart>
    

    <p-table class="d-table" #dtUsers class="ui-table-default" [value]="users" dataKey="id" [scrollable]="true" 
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
    [globalFilterFields]="['id','firstName','lastName','email','role']" [paginator]="true" 
    style="
    margin-top:calc(2.8%);
    display: flex;
    position: relative;
    flex-direction: column;
    height: fit-content;
    width: 48.5%;
    border-radius: 20px;
    background-color: #1b1b1b;
    box-shadow: 5px 5px 15px black;
    transition: ease-in-out;
    padding:10px 20px;
    ">

    <ng-template pTemplate="caption">
      <div class="flexRow">
          <h3 >
          Users</h3>
          <span class="p-input-icon-left margin-left__auto margin-right__16px">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dtUsers.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
          </span>
          <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dtUsers)"></button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="firstName" style="min-width:8rem;  border-top:3px solid #04a777; border-bottom:3px solid #04a777;">
          <div class="flexRow">
              <p style=" font-size: 18px !important;">First name</p>
              <p-sortIcon field="firstName"></p-sortIcon>
              <p-columnFilter class="ml-auto" type="text" field="firstName" display="menu"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="lastName" style="min-width:9rem;  border-top:3px solid #04a777; border-bottom:3px solid #04a777;">
          <div class="flexRow">
              <p style=" font-size: 18px !important;">Last name</p>
              <p-sortIcon field="lastName"></p-sortIcon>
              <p-columnFilter class="ml-auto" type="text" field="lastName" display="menu"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="email" style="min-width:10rem;  border-top:3px solid #04a777; border-bottom:3px solid #04a777;">
          <div class="flexRow">
              <p style=" font-size: 18px !important;">Email</p>
              <p-sortIcon field="email"></p-sortIcon>
              <p-columnFilter class="ml-auto" type="text" field="email" display="menu"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="role" style="min-width:8rem; border-top:3px solid #04a777; border-bottom:3px solid #04a777;">
          <div class="flexRow">
              <p style=" font-size: 18px !important;">Role</p>
              <p-sortIcon field="role"></p-sortIcon>
              <p-columnFilter class="ml-auto" type="text" field="role" display="menu"></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
          <td colspan="5">No users found.</td>
      </tr>
  </ng-template>

  </p-table>

<!---  VREMENSKA PROGNOZA -->
<app-weather-forecast7 style="width: 49%;"></app-weather-forecast7>


  
</div>
  
    <!--<app-history-forecast-table></app-history-forecast-table>
    -->
    <!--<app-history-forecast-table class="marginLeft"></app-history-forecast-table>
    -->
  
  
  
      <!--          MENAGE USER         -->
  
<!--
  <p-dialog [style]="{width:'40%'}" header="Title"  [transitionOptions]="'3ms'" 
    [draggable]="true" [keepInViewport]="true" [resizable]="false" 
    [blockScroll]="true" [closeOnEscape]="true" [dismissableMask]="true" 
    [modal]="true" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
    [closable]="true" >
    <ng-template pTemplate="header" class="header-dialog">
      <span>Menage user</span>
    </ng-template>

    <ng-template pTemplate="content">
      <form [formGroup]="menageUserForm" >
      
      <div class="p-inputgroup p-inputtext-lg p-input-filled">
        <div class="half">
          <input formControlName="name" name="name" appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="NAME"> 
          <input formControlName="lastname" name="lastname"  appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="LAST NAME"> 
          <input formControlName="username" name="username"  appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="USERNAME"> 
        </div>
      
        <div class="half">
          <input formControlName="email" name="email" appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="EMAIL"> 
          <input formControlName="phone" name="phone" appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="PHONE NUMBER"> 
          <input formControlName="address" name="address" appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="ADDRESS">     
        </div>
      </div> 
      </form>
    </ng-template>
    
    <ng-template pTemplate="footer" style="min-height:100px;" >
      <button type="button" class="footer-button" icon="pi pi-info-circle" label="Show">Save</button>

    </ng-template>
  </p-dialog>

  <button type="button"  (click)="showDialog()" icon="pi pi-info-circle" label="Show"></button>


      ADD USER         

  <p-dialog [style]="{width:'40%'}" header="Title2"  [transitionOptions]="'3ms'" 
    [draggable]="true" [keepInViewport]="true" [resizable]="false" 
    [blockScroll]="true" [closeOnEscape]="true" [dismissableMask]="true" 
    [modal]="true" [(visible)]="display2" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
    [closable]="true" >
    <ng-template pTemplate="header" class="header-dialog">
      <span>Add user</span>
    </ng-template>
    
    <ng-template pTemplate="content">
      <form [formGroup]="menageUserForm" >
      
      <div class="p-inputgroup p-inputtext-lg p-input-filled">
        <div class="half">
          <input formControlName="name" name="name" appendTo="body" type="text"  class="p-inputtext-lg"  placeholder="NAME"> 
          <input formControlName="lastname" name="lastname"  appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="LAST NAME"> 
          <input formControlName="username" name="username"  appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="USERNAME"> 
        </div>
      
        <div class="half">
          <input formControlName="email" name="email" appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="EMAIL"> 
          <input formControlName="phone" name="phone" appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="PHONE NUMBER"> 
          <input formControlName="address" name="address" appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="ADDRESS">     
        </div>
      </div> 
   </form>
    </ng-template>
    
    <ng-template pTemplate="footer" >
      <button type="button" class="footer-button" icon="pi pi-info-circle" label="Show"><span>Save</span></button>

    </ng-template>
  </p-dialog>

  <button type="button" style="margin-top:30px;"  (click)="showDialog2()" icon="pi pi-info-circle" label="Show"></button>

  
  <p-dialog [style]="{width:'20%'}" header="Title"  [transitionOptions]="'3ms'" 
    [draggable]="false" [keepInViewport]="true" [resizable]="false" 
    [blockScroll]="true" [closeOnEscape]="true" [dismissableMask]="true" 
    [modal]="true" [(visible)]="display3" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
    [closable]="true" >
    <ng-template pTemplate="header" class="header-dialog">
      <span>Delete device</span>
    </ng-template>
    
    <ng-template pTemplate="center">
      <div class="delete-device-content">
        Are you sure you want to erase the device?
        All data will be deleted and you will not be able to recover it.

      </div>
    </ng-template>
    
    <ng-template pTemplate="footer" >
      <button type="button" class="no-button" icon="fa-home" label="No"><span clas="no-span">No</span></button>
      <button type="button" class="yes-button" icon="pi pi-info-circle" label="Yes"><span clas="no-span">Yes</span></button>
  
    </ng-template>
  </p-dialog>

  <button type="button" style="margin-top:30px;"  (click)="showDialog3()" icon="pi pi-info-circle" label="Show"></button>


  <p-dialog [style]="{width:'40%'}" header="Title"  [transitionOptions]="'3ms'" 
  [draggable]="true" [keepInViewport]="true" [resizable]="false" 
  [blockScroll]="true" [closeOnEscape]="true" [dismissableMask]="true" 
  [modal]="true" [(visible)]="display4" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
  [closable]="true" >
  <ng-template pTemplate="header" class="header-dialog">
    <span>Menage Device</span>
  </ng-template>

  <ng-template pTemplate="content">
    <form [formGroup]="menageUserForm" >  
    <div class="p-inputgroup p-inputtext-lg p-input-filled">
      <div class="half">  
        ZA UREDJAJ [FRIZIDER / SPORET...] 
        <p-dropdown [options]="cities" appendTo="body" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
        ZA TIP UREDJAJA [PRODUCTION / CONSUMPTION / STOCK] 
        <p-dropdown [options]="cities" appendTo="body" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
      </div>
      
      <div class="half">       
        ZA SOBU [KUPATILO / KUHINJA ...] 
        <p-dropdown [options]="cities" appendTo="body" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
        ZA NAZIV UREDJAJA
        <input style="margin-top:45px;" formControlName="name" name="name"  appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="DEVICE NAME"> 
      </div>
    </div> 
    </form>
  </ng-template>
  
  <ng-template pTemplate="footer" style="min-height:100px;" >
    <button type="button" class="footer-button" icon="pi pi-info-circle" label="Show"><span>Save</span></button>

  </ng-template>
</p-dialog>

<button type="button" style="margin-top:30px;" (click)="showDialog4()" icon="pi pi-info-circle" label="Show"></button>


<p-dialog [style]="{width:'40%'}" header="Title"  [transitionOptions]="'3ms'" 
[draggable]="true" [keepInViewport]="true" [resizable]="false" 
[blockScroll]="true" [closeOnEscape]="true" [dismissableMask]="true" 
[modal]="true" [(visible)]="display5" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
[closable]="true" >
<ng-template pTemplate="header" class="header-dialog">
  <span>Add Device</span>
</ng-template>

<ng-template pTemplate="content">
  <form [formGroup]="menageUserForm" >  
  <div class="p-inputgroup p-inputtext-lg p-input-filled">
    <div class="half">  
       ZA UREDJAJ [FRIZIDER / SPORET...]    
      <p-dropdown [options]="cities" appendTo="body" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
       ZA TIP UREDJAJA [PRODUCTION / CONSUMPTION / STOCK]    
      <p-dropdown [options]="cities" appendTo="body" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
    </div>
    
    <div class="half">       
       ZA SOBU [KUPATILO / KUHINJA ...] 
      <p-dropdown [options]="cities" appendTo="body" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
       ZA NAZIV UREDJAJA
      <input style="margin-top:45px;" formControlName="name" name="name"  appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="DEVICE NAME"> 
    </div>
  </div> 
  </form>
</ng-template>

<ng-template pTemplate="footer" style="min-height:100px;" >
  <button type="button" class="footer-button" icon="pi pi-info-circle" label="Show"><span>Save</span></button>

</ng-template>
</p-dialog>

<button type="button" style="margin-top:30px;" (click)="showDialog5()" icon="pi pi-info-circle" label="Show"></button>


<p-dialog [style]="{width:'40%'}" header="Title2"  [transitionOptions]="'3ms'" 
  [draggable]="true" [keepInViewport]="true" [resizable]="false" 
  [blockScroll]="true" [closeOnEscape]="true" [dismissableMask]="true" 
  [modal]="true" [(visible)]="display6" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
  [closable]="true" >
  <ng-template pTemplate="header" class="header-dialog">
    <span>Registration</span>
  </ng-template>
  
  <ng-template pTemplate="content">
    <form [formGroup]="menageUserForm" >
    
    <div class="p-inputgroup p-inputtext-lg p-input-filled">
      <div class="half">
        <input formControlName="name" name="name" appendTo="body" type="text"  class="p-inputtext-lg"  placeholder="NAME">
        <input formControlName="lastname" name="lastname"  appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="LAST NAME"> 
        <input formControlName="username" name="username"  appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="USERNAME"> 
        <input formControlName="password" name="password" appendTo="body" type="text"  class="p-inputtext-lg"  placeholder="PASSWORD"> 
        <input formControlName="password2" name="password2" appendTo="body" type="text"  class="p-inputtext-lg"  placeholder="REPEAT PASSWORD"> 
        
      </div>
    
      <div class="half">
        <input formControlName="email" name="email" appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="EMAIL"> 
        <input formControlName="phone" name="phone" appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="PHONE NUMBER"> 
        <input formControlName="address" name="address" appendTo="body" type="text"   class="p-inputtext-lg"  placeholder="ADDRESS">     
        <input formControlName="role" name="role" appendTo="body" type="text"  class="p-inputtext-lg"  placeholder="ROLE"> 
        
      </div>
    </div> 
  </form>
  </ng-template>
  
  <ng-template pTemplate="footer" >
    <button type="button" class="footer-button" icon="pi pi-info-circle" label="Show"><span>Save</span></button>

  </ng-template>
</p-dialog>

<button type="button" style="margin-top:30px;"  (click)="showDialog6()" icon="pi pi-info-circle" label="Show"></button>
 -->

<!--
  <iframe class="iframe-div" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d17698.97958143962!2d20.902382747133068!3d44.01949126285242!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2srs!4v1678806582786!5m2!1sen!2srs" style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  -->
  <!--<div class="filter-div"><span>filter</span></div>-->
</app-center-bar>

</standard-template>
<app-prosumerhome *ngIf="!isAdmin()"></app-prosumerhome>

 