<standard-template>
  <app-title-bar>
    <h3>Home</h3>
  </app-title-bar>
  <!-- optional -->
  <app-widget [isBlue]="true" [isBgBlue]="true" id="blue-widget">
  </app-widget>
  <app-widget [isYellow]="true" [isBgYellow]="true" id="yellow-widget">
  </app-widget>
  <app-widget [isPink]="true" [isBgPink]="true" id="pink-widget">
  </app-widget>
  <app-widget [isBlue]="true" [isBgBlue]="true" id="blue2-widget">
  </app-widget>
  <!--<app-center-bar>
     add your componenets here 
  </app-center-bar>-->

  <!-- optional -->
  <!--
  <app-info-bar>
     add your componenets here 
  </app-info-bar>-->
</standard-template>
