<standard-template>
  <app-title-bar>
    <h3>Home</h3>
  </app-title-bar>

  <app-center-bar>
  <h3 class="hello">Hello, Vanja Mijatovic</h3>
  <div class="widgets">
      
    <app-widget [isBlue]="true" [isBgBlue]="true" class="widget">
    </app-widget>
    <app-widget [isYellow]="true" [isBgYellow]="true" class="widget">
    </app-widget>
    <app-widget [isPink]="true" [isBgPink]="true" class="widget">
    </app-widget>
    <app-widget [isBlue]="true" [isBgBlue]="true" class="widget">
    </app-widget>
      
  </div>
  <p-dialog header="Title"  [transitionOptions]="'3ms'" 
    [draggable]="false" [keepInViewport]="true" [resizable]="false" 
    [blockScroll]="true" [closeOnEscape]="true" [dismissableMask]="true" 
    [modal]="true" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
    [closable]="true" >
    <ng-template pTemplate="header" class="header-dialog">
      <span>Manage user</span>
    </ng-template>
    
    <ng-template pTemplate="center">
      <!--<form [formGroup]="menageUserForm" >-->
      
      <div class="p-inputgroup p-inputtext-lg p-input-filled">
        <div class="half">
          <!--<label for="label-input" >Name</label>-->
          <input formControlName="name" name="name" appendTo="body" type="text" pInputText  class="p-inputtext-lg"  placeholder="NAME"> 
          <!--<label for="label-input" >Last name</label>-->
          <input formControlName="lastname" name="lastname"  appendTo="body" type="text" pInputText  class="p-inputtext-lg"  placeholder="LAST NAME"> 
          <!--<label for="label-input" >Username</label>-->
          <input formControlName="username" name="username"  appendTo="body" type="text" pInputText  class="p-inputtext-lg"  placeholder="USERNAME"> 
        </div>
      
        <div class="half">
          <!--<label for="label-input" >E-mail</label>-->
          <input formControlName="email" name="email" appendTo="body" type="text" pInputText  class="p-inputtext-lg"  placeholder="EMAIL"> 
          <!--<label for="label-input" >Phone number</label>-->
          <input formControlName="phone" name="phone" appendTo="body" type="text" pInputText  class="p-inputtext-lg"  placeholder="PHONE NUMBER"> 
          <!--<label for="label-input" >Address</label>-->
          <input formControlName="address" name="address" appendTo="body" type="text" pInputText  class="p-inputtext-lg"  placeholder="ADDRESS">     
        </div>
      </div> 
   <!--</form>-->
    </ng-template>
    
    <ng-template pTemplate="footer" >
      <button type="button" class="footer-button" icon="pi pi-info-circle" label="Show">Save</button>

    </ng-template>
  </p-dialog>

  <button type="button"  (click)="showDialog()" icon="pi pi-info-circle" label="Show"></button>
<!--
  <iframe class="iframe-div" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d17698.97958143962!2d20.902382747133068!3d44.01949126285242!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2srs!4v1678806582786!5m2!1sen!2srs" style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  -->
  <!--<div class="filter-div"><span>filter</span></div>-->
  </app-center-bar>
</standard-template>
