:host{
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    min-height: 120px;
    /*min-width: 340px;*/
    border-radius: 20px;
    padding:  20px 40px 20px 20px;
    background-color: #1b1b1b;
    flex-basis: calc(33.33333% - 30px);
}


:host.hover,
:host:hover>.item_date-box {
  text-decoration: none;
  color: #FFF;
  cursor:default;
}

:host:hover>.item_bg {
  transform: scale(10);
}
:host>.item_title {
  margin-top: 20px;
  min-height: 40px;
  overflow: hidden;
  font-weight: bolder;
  font-size: 30px;
  color: #FFF;
  align-items: end;
  cursor: default;
  z-index: 2;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

:host>.item_date-box {
  font-size: 18px;
  z-index: 2;
  position: relative;
  cursor: default;
  font-weight: bolder;
  font-size: 20px;
  padding-right: 10px;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
  font-family: 'Montserrat', sans-serif;
}

:host>.item_date {
  font-weight: bolder;
  cursor: default;
  font-size: 20px;
  padding-right: 10px;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
  font-family: 'Montserrat', sans-serif;
}

:host>.item_bg {
  height: 128px;
  width: 128px;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.blue-color {
  color:rgb(125, 2, 210);
}

.bg-blue-color {
  background-color:rgb(125, 2, 210);
}

.yellow-color {
  color: rgb(217, 3, 114);
}
.bg-yellow-color {
  background-color:rgb(217, 3, 114);
}

.pink-color {
  color:rgb(4, 167, 119);
}
.bg-pink-color {
  background-color:rgb(4, 167, 119);
}


.orange-color {
  color:#F75C03;
}
.bg-orange-color {
  background-color: #F75C03;
}

@media only screen and (max-width: 639px) {
  :host {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 500px) {
  :host {
    max-height: 100px;
    margin-bottom: 5px;
  }
  :host>.item_title {
    font-size: 20px;
  }
  :host>.item_date-box {
    font-size: 15px;
    padding-right: 5px;
  }
}
