:host::ng-deep app-tab-menu .tab.active .tab-icon i {
  color: #46c5f1;
}

:host::ng-deep app-tab-menu .tab.active .tab-title {
  color: #46c5f1 !important;
}

.light-mode-title-bar h3{
  color:#323232;
}


  .widgets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0;
    min-height: 120px;
    justify-content:space-between;
    margin-bottom:20px;
    
}
.widget {
  flex-basis: calc(25% - 24px);
  display: inline-block;
  position: relative;
  flex-direction: row;
  /*max-width: 23%;*/
  min-width: 240px;
  width:20%;
}


@media only screen and (max-width: 796px) {
  .slika{
    display:none;
  }
}
@media only screen and (max-width: 1200px) {

  .widgets{
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
  }
  .widget{
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    min-width:260px;
  }


}



