<standard-template>
    <app-title-bar>
      <h3 style="color:white" >Frequently Asked Question</h3>
    </app-title-bar>
  
    <app-center-bar>
      <div class="container">
        <div class="tab">
          <input type="radio" name="acc" id="acc1">
          <label for="acc1">
            <h2>01</h2>
            <h3>How does the app differ from other similar products on the market?</h3>
          </label>
          <div class="content">
            <p>The application provides users with detailed reports on their energy production and consumption, as well as information on electricity storage. Users can monitor their energy consumption in real time and identify areas where the most energy is consumed. The app also provides detailed analysis of greenhouse gas emissions, allowing users to better understand their impact on the environment.</p>
          </div>
        </div>
        <div class="tab">
          <input type="radio" name="acc" id="acc2">
          <label for="acc2">
            <h2>02</h2>
            <h3>How can the production of energy from renewable sources be monitored?</h3>
          </label>
          <div class="content">
            <p>Our application can monitor the production of energy from renewable sources through sensors for measuring production at different points in the system. This includes solar panels, wind farms and other sources of renewable energy.</p>
          </div>
        </div>
        <div class="tab">
          <input type="radio" name="acc" id="acc3">
          <label for="acc3">
            <h2>03</h2>
            <h3>What devices are supported for monitoring power consumption?</h3>
          </label>
          <div class="content">
            <p>Our application supports a wide range of devices for monitoring power consumption, including power sensors, smart sockets, smart switches and other similar devices that are compatible with our system.</p>
          </div>
        </div>
        <div class="tab">
          <input type="radio" name="acc" id="acc4">
          <label for="acc4">
            <h2>04</h2>
            <h3>How does your application measure power consumption?</h3>
          </label>
          <div class="content">
            <p>The application uses various sensors and devices to measure electricity consumption at different points in your home or business. This includes sensors for measuring current on main sockets, sensors for measuring consumption on individual devices and other technologies that are able to monitor the amount of electricity consumption.</p>
          </div>
        </div>
        <div class="tab">
          <input type="radio" name="acc" id="acc5">
          <label for="acc5">
            <h2>05</h2>
            <h3>What types of reports and analysis does the application provide?</h3>
          </label>
          <div class="content">
            <p>The application provides various types of reports and analyses, including monthly power consumption reports, individual appliance consumption reports, energy savings reports, renewable energy production reports and other relevant information.</p>
          </div>
        </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc6">
        <label for="acc6">
          <h2>06</h2>
          <h3>How can the production of energy from renewable sources be monitored?</h3>
        </label>
        <div class="content">
          <p>Our application can monitor the production of energy from renewable sources through sensors for measuring production at different points in the system. This includes solar panels, wind farms and other sources of renewable energy.</p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc7">
        <label for="acc7">
          <h2>07</h2>
          <h3>How can alerts for high consumption or failures be configured?</h3>
        </label>
        <div class="content">
          <p>The app allows users to set alerts for high consumption or outages via the mobile app or web interface. Users can also configure alerts via email or text messages to be notified of issues.</p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc8">
        <label for="acc8">
          <h2>08</h2>
          <h3>How is the security and privacy of user data ensured?</h3>
        </label>
        <div class="content">
          <p>The security and privacy of our users' data is very important to us. The application uses advanced encryption technologies and other security measures to ensure that all user data is protected. In addition, we adhere to a strict data privacy policy to ensure that our users' data is always safe and secure.</p>
        </div>
      </div>
      </div>
    </app-center-bar>
    
  </standard-template>