*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:black;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    margin:0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container h1{
    color: #333;
}
.container .tab{
    position: relative;
    background: linear-gradient(180deg, #1b1b1b 50%, #121212 100%) ;;
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.05);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 15px black;
}
.container .tab input{
   appearance: none;
}

.container .tab label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container .tab label::after{
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 2em;
    color: #fff;
    transition: transform 1s;
}

.container .tab:hover label::after{
    color: #fff;
}

.container .tab input:checked ~ label::after
{
    transform: rotate(135deg);
    color:#fff;
}

.container .tab label h2
{
    width: 40px;
    height: 40px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.25em;
    border-radius: 5px;
    margin-right: 10px;
}
.container .tab input:checked ~ label h2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(255,255,255,0.2);
    font-size: 8em;
    justify-content: flex-end;
    padding: 20px;
}
.container .tab:nth-child(1) label h2{
    background: linear-gradient(135deg,#3c8ce7,#00eaff);
}
.container .tab:nth-child(2) label h2{
background: linear-gradient(135deg,#885ec0,#ae91d4);
}

.container .tab:nth-child(3) label h2{
    background: linear-gradient(135deg,#eb4886,#f075a4);
}
.container .tab:nth-child(4) label h2{
    background: linear-gradient(135deg,#f5805a,#f9b59f);
}
.container .tab:nth-child(5) label h2{
    background: linear-gradient(135deg,#3c8ce7,#00eaff);
}
.container .tab:nth-child(6) label h2{
background: linear-gradient(135deg,#885ec0,#ae91d4);
}

.container .tab:nth-child(7) label h2{
    background: linear-gradient(135deg,#eb4886,#f075a4);
}
.container .tab:nth-child(8) label h2{
    background: linear-gradient(135deg,#f5805a,#f9b59f);
}

.container .tab label h3
{
    position:relative;
    font-weight: 500;
    color: #fff;
    font-size: 19px;
}
.container .tab input:checked ~ label h3
{
    padding: 2px 2px;
    color: #333;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.container .tab .content
{
    max-height: 0;
    transform: 1s;
    overflow: hidden;
}

.container .tab input:checked ~ .content
{
    max-height: 100vh;
}

.container .tab .content p
{
    position: relative;
    padding: 10px 0;
    color: #333;
    font-size: 20px;
}

.container .tab input:checked ~ .content p
{
    color: #fff;
}

.title
{
    color:#fff;
    padding-left: 20px;
}

/* .right {
    background: linear-gradient(45deg, #46c5f1 10%, #5245b7 100%);
  
    color: #fff;
    position: relative;
    background-size: 650px 600px;
  }
  
  .right .right-text {
    height: 100%;
    position: relative;
    transform: translate(0%, 45%);
  }
  .info{
  
    padding-left: 60px;
  }
  .info p {
    display: inline-block;
    /* ili */
    /* float: left; */
 /* }
  
  .fa-sharp {
    color: white;
    border-radius: 90%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 7px;
    font-size: 26px;
  
  }
  .bold
  {
    font-weight: 500;
    padding-left: 10px;
  }
  .naziv
  {
    padding-left: 7px;
  }
  .fa-phone {
    color: white;
    border-radius: 90%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
  
  }
  .fa-envelope {
    color: white;
    border-radius: 90%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
  
  }
  .fa-earth-americas {
    color: white;
    border-radius: 90%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
  
  }
  .text2
  {
    font-size: 29px;
    padding-left: 40px;
    padding-top: 100px;
    font-weight: bolder;
    font-family: 'Montserrat',sans-serif;
  }
  .text3
  {
    font-size: 20px;
    padding-left: 40px;
    width:500px;
    margin-bottom: 5%;
    font-weight: bolder;
  
  } */