:host{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 320px;
    height: fit-content;
    min-height: 300px;
    padding: 24px;
    top: 92px;
    right: 32px;
    background-color: #222222;
    border-radius: 32px;
}