:host{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    min-width: 320px;
    margin: 32px 32px 16px auto;
    height: fit-content;
    min-height: 300px;
    padding: 24px;
    background-color: #0d0d0d;
    border-radius: 32px;
}