p{
    margin: 5px;
    font-size: 1.2em;
    color:rgb(255, 255, 255);
}

.card{
    color: white;
    background-color: transparent;
}

button{
    background: linear-gradient(90deg, rgb(125, 2, 210) -15.29%, #F75C03 100%);
    padding:5px 40px;
    border-radius: 20px;
}

li{
    color: white;
    background-color: transparent;
}