:host{
    position: relative;
    flex-direction: row;
    height: 300px;
    width: 100%;
    margin-bottom:30px;
    min-width: 350px;
    border-radius: 20px;
    background-color: #1b1b1b;
    box-shadow: 5px 5px 15px black;
    transition: ease-in-out;
    margin-top:30px;
}


.div{
    padding: 20px 10px;
    background-color: #1b1b1b;
    border-radius: 20px;
    min-width: 300px;
    width: 100%;
    align-items: center;
}