<!-- USAGE EXAMPLE
    
<app-my-paginated-table [data]="myData" [rowsPerPage]="10" [totalRecords]="100" 
    ADD HERE THE REST OF THE CONFIGURATIONS [currentPage]="0">
    <ng-container content>
        <ng-template pTemplate="header">
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td>{{rowData.col1}}</td>
                <td>{{rowData.col2}}</td>
                <td>{{rowData.col3}}</td>
            </tr>
        </ng-template>
    </ng-container>
</app-my-paginated-table>
-->

<p-table [value]="data" [paginator]="paginator" [rows]="rowsPerPage" [totalRecords]="totalRecords"
    [showCurrentPageReport]="showCurrentPageReport" [globalFilterFields]="globalFilterFields"
    [class]="class" [style]="style" [dataKey]="dataKey" [scrollable]="scrollable">
    <ng-content select="[content]"></ng-content>
</p-table>

<p-paginator [rows]="rowsPerPage" [totalRecords]="totalRecords" [first]="currentPage * rowsPerPage"
    (onPageChange)="onPageChange.emit($event)">
</p-paginator>