:host{
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    height: 304px;
    border-radius: 20px;
    padding:  20px 40px 20px 20px;
    /*
    background: linear-gradient(180deg, #141414 50%, #121212 100%) ;
    
    box-shadow: 5px 5px 15px black;
    */
    flex-basis: 37.2%;
    transition: ease-in-out;
    
}

.tooltip {
    background-color: #1b1b1b;
}