:host{
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    height: 250;
    border-radius: 20px;
    padding:  20px 40px 20px 20px;
    background-color: #1b1b1b;
    flex-basis: calc(22.8%);
    box-shadow: 5px 5px 15px black;
    margin-left: calc(2.8%);
    transition: ease-in-out;
    
}

.tooltip {
    background-color: #1b1b1b;
}