
<standard-template>
    <app-title-bar>
      <h3 class="title">Conatct us</h3>
    </app-title-bar>
  
    <app-center-bar>
			<section class="login">
				<div class="login_box"  [ngClass]="{'light-mode':lightMode}">
					<div class="left">
						<div class="contact">
							<form action="">
								<h3>Send us a message</h3>
								<input type="text" placeholder="Name" name="Name">
								<input type="text" placeholder="Email" name="Email">
								<input type="text" placeholder="Subject" name="subject">
								<input type="text" placeholder="Message" name="message">
								<button class="submit"><span>Send Message</span></button>
							</form>
						</div>
					</div>
					<div class="right">
						
					<p class="text2">Contact us</p>	
						<p class="text3">We're open for any suggestion or just to have a chat</p>	
						<div class="info">
							<i class="fa-sharp fa-solid fa-location-dot"></i>
							<p class="bold">Address:</p>
							<p class="naziv">Radoja Domanovića 12</p>
						</div>
						<div class="info">
							<i class="fa-solid fa-phone"></i>
							<p class="bold">Phone:</p>
							<p class="naziv">+381 600102030</p>
						</div>
						<div class="info">
							<i class="fa-solid fa-envelope"></i>
							<p class="bold">Email:</p>
							<p class="naziv">contact@codesparkyenergy.com</p>
						</div>
						<div class="info">
							<i class="fa-solid fa-earth-americas"></i>
							<p class="bold">Website:</p>
							<p class="naziv">codesparkyenergy.com</p>
						</div>
					</div>
				</div>
			</section>

    </app-center-bar>
    
  </standard-template>