<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="parallaxcon" #parallaxcon>
    <img src = "/assets/images/landing-page-images/citilights.jpg" id="iza">
    <h2 id="text">WattApp</h2>
    <button id="btn" routerLink="/login">Try it</button>
    <img src = "/assets/images/landing-page-images/citilights2.png" id="ispred">
    <img src = "/assets/images/landing-page-images/network.png" id="iza" class="moving-image">
    <app-navbar></app-navbar>
</div>

<div class="cards">
  <h2>Find your solution</h2>
  <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="/assets/images/landing-page-images/connectedcity.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Green energy</h5>
          <p class="card-text">Renewable energy comes from sources that are constantly and naturally renewed (hence the name), such as wind power and solar energy. Renewable energy is also often called sustainable energy. Renewable energy sources are the opposite of fossil fuels, like coal and gas, which are a finite energy source..</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/images/landing-page-images/solarniPanel.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Why You Should Use Solar Power</h5>
          <p class="card-text">Solar power is a great way to reduce your carbon footprint. There's nothing about solar power that pollutes mother nature. Solar power doesn't release any greenhouse gasses, and except for needing a source of clean water to function, it uses absolutely no other resources. Hence, it's safe and environmentally-friendly.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/images/landing-page-images/city.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">What is the importance of energy statistics?</h5>
          <p class="card-text">Annual energy statistics provide the most comprehensive coverage. On the supply side, data cover production, trade and stock changes. The transformation of energies is also included (for example electricity generation from natural gas and refining crude oil into motor gasoline).</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
</div>


<h2>About us</h2>
<div class="wrap animate pop">
  
  <div class="overlay">
    <div class="overlay-content animate slide-left delay-2">
    </div>
    <div class="image-content animate slide delay-5"></div>
        
  </div>
    <div class="text">
      <h5>The world lacks safe, low-carbon, and cheap large-scale energy alternatives to fossil fuels.Until we scale up those alternatives the world will continue to face two 
        energy problems: hundreds of millions of of people lack access to sufficient energy; and the dominance of fossil fuels in our energy system drives climate change, and other 
        health impacts such as air pollution.
        To make sure that everyone in the world has access to clean and safe energy, we need to understand energy consumption and its impacts around the world today and how this has 
        changed over time.
        On this page you can find all our data, visualizations and writing relating to energy.The world lacks safe, low-carbon, and cheap large-scale energy alternatives to fossil fuels.Until we scale up those alternatives the world will continue to face two 
        energy problems: hundreds of millions of of people lack access to sufficient energy; and the dominance of fossil fuels in our energy system drives climate change, and other 
        health impacts such as air pollution.
        To make sure that everyone in the world has access to clean and safe energy, we need to understand energy consumption and its impacts around the world today and how this has 
        changed over time.
        On this page you can find all our data, visualizations and writing relating to energy.</h5>
    </div>
</div>
  

<!--<h2>Gallery</h2>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-12" *ngFor="let image of images">
      <img class="img-fluid" [src]="image" alt="Gallery Image">
    </div>
  </div>
</div>-->


<app-landing-page-team></app-landing-page-team>
<app-landing-page-footer></app-landing-page-footer>

