:host {
  display: block;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
  background: linear-gradient(#56857E,rgb(62, 106, 119));
  z-index: 6;
}

.parallaxcon{
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.parallaxcon img{
  position: absolute;
  top:-70px;
  left:0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
}

/*section img#ispred{
  mix-blend-mode: screen;
}*/
.parallaxcon img#ispred{
  z-index: 10;
}

.moving-image {
  animation: moveImage 4s ease-in-out infinite alternate;
}

@keyframes moveImage {
  from { transform: translateX(-3%); }
  to { transform: translateX(3%); }
}
  
#text{
  position: absolute;
  color:#f5ffc9;
  white-space: nowrap;
  font-size: 4.5vw;
  z-index: 1;
  top:240px;
  right:70%
}

.card-group{
  margin:0 400px;
  margin-top: 50px;
  padding-bottom: 50px;
}

.cards{
  margin: 100px 0px;
}

.card{
  margin:0px 50px;
  background-color: #222222;
  color: white;position: relative;
  transition: transform 0.2s ease-out;
}

.card:hover {
  transform: translateY(-10px);
}


h2{
  color:white;
  text-align: center;
  font-size: 2.5em;
}

.card-img-top{
  width: 100%;
  height: 300px;
}

button{
  position: absolute;
  color:#b8dcf1;
  background-color: #5668ce;
  border: #adadad;
  white-space: nowrap;
  font-size: 2vw;
  z-index: 1;
  top:380px;
  right:70%;
  border-radius: 20px;
  padding: 0 30px;
}

.wrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 110vmin;
	height: 38em;
	border: 8px solid;
	margin: 2rem auto;
	transition: .3s ease-in-out;
	position: relative;
	overflow: hidden;
  margin: 100px auto;
  margin-top: 50px;
  border-radius: 20px;
}
.overlay {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem .75rem;
	background: #222222;
	transition: .4s ease-in-out;
	z-index: 1;
}
.overlay-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15vmin;
	height: 100%;
	padding: .5rem 0 0 .5rem;
	border: 3px solid;
	border-image: 
    	linear-gradient(
      	to bottom, 
      	#2439ae 5%,
      	#222222 35% 65%,
      	#2439ae 95%
    	) 0 0 0 100%;
	transition: .3s ease-in-out .2s;
	z-index: 1;
}
.image-content {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-image: url("/assets/images/logo-images/logo.png");
	background-size:contain;
	transition: .3s ease-in-out;
}

.text {
	position: absolute;
	top: 0;
	right: 0;
	width: 80vmin;
	height: 100%;
	padding: 3vmin 4vmin;
	background: #222222;
	box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
  color: white;
}

.wrap:hover .overlay
 {
	transform: translateX(-80vmin);
}
.wrap:hover .image-content {
	width: 30vmin;
}
.wrap:hover .overlay-content {
	border: none;
	transition-delay: .2s;
	transform: translateX(80vmin);
}

/* Animations and timing delays */
.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}
/* Pop In */
.pop { animation-name: pop; }
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Slide In */
.slide { animation-name: slide; }
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left { animation-name: slide-left; }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up {animation-name: slide-up;}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}


