<div class="parallaxcon" #parallaxcon>
    <img src = "/assets/images/landing-page-images/solarPanel.jpg" id="iza">
    <app-navbar></app-navbar>
    <h2 id="text">CodeSpark Energy</h2>
    <button id="btn" routerLink="/login">Try it</button>
    <img src = "/assets/images/landing-page-images/solarPanel2.png" id="ispred">
</div>

<h2>Find your solution</h2>
<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="/assets/images/landing-page-images/vetrenjace.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Green energy</h5>
        <p class="card-text">Renewable energy comes from sources that are constantly and naturally renewed (hence the name), such as wind power and solar energy. Renewable energy is also often called sustainable energy. Renewable energy sources are the opposite of fossil fuels, like coal and gas, which are a finite energy source..</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/images/landing-page-images/solarniPanel.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Why You Should Use Solar Power</h5>
        <p class="card-text">Solar power is a great way to reduce your carbon footprint. There's nothing about solar power that pollutes mother nature. Solar power doesn't release any greenhouse gasses, and except for needing a source of clean water to function, it uses absolutely no other resources. Hence, it's safe and environmentally-friendly.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/images/landing-page-images/sunset.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">What is the importance of energy statistics?</h5>
        <p class="card-text">Annual energy statistics provide the most comprehensive coverage. On the supply side, data cover production, trade and stock changes. The transformation of energies is also included (for example electricity generation from natural gas and refining crude oil into motor gasoline).</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
<app-landing-page-team></app-landing-page-team>
<app-landing-page-footer></app-landing-page-footer>

