.sat {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    margin: 0;
  }
  
  .clock-loader {
    --clock-color: var(--primary-color);
    --clock-width: 4rem;
    --clock-radius: calc(var(--clock-width) / 2);
    --clock-minute-length: calc(var(--clock-width) * 0.4);
    --clock-hour-length: calc(var(--clock-width) * 0.2);
    --clock-thickness: 0.2rem;
    --border-gradient: linear-gradient(45deg, #46c5f1 10%, #5245b7 100%);
  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--clock-width);
    height: var(--clock-width);
    border-radius: 50%;
    border: 3px solid var(--clock-color);
    border-image: var(--border-gradient) 1;
  
    &::before,
    &::after {
      position: absolute;
      content: "";
      top: calc(var(--clock-radius) * 0.25);
      width: var(--clock-thickness);
      background: var(--clock-color);
      border-radius: 10px;
      transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
      animation: spin infinite linear;
    }
  
    &::before {
      height: var(--clock-minute-length);
      animation-duration: 2s;
    }
  
    &::after {
      top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
      height: var(--clock-hour-length);
      animation-duration: 15s;
    }
  }
  
  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }
  
  h6 {
    padding-left: 20px;
    margin-top: 10px;
    animation: fade 2s infinite;
  }
  
  @keyframes fade {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }