<div class="container">
    <ul class="nav-list">
        <li class="nav-list-item">
            <i></i>
            <span>
                <a href="#">Test 1</a>
            </span>
        </li>
        <li class="nav-list-item">
            <i></i>
            <span>
                <a href="#">Test 1</a>
            </span>
        </li>
        <li class="nav-list-item">
            <i></i>
            <span>
                <button (click)="logout()">Logout</button>
            </span>
        </li>
    </ul>
</div>