<standard-template>
    <app-title-bar [ngClass]="{'light-mode-title-bar':lightMode,'color-white':!lightMode}" >
      <h3>News</h3>
    </app-title-bar>
    <app-center-bar *ngIf="loader"><app-loader></app-loader></app-center-bar>
    <app-center-bar *ngIf="!loader">
    <div class="main-grid">
      <div class="image-div">
      </div>

      <div class="carousels" >
        <div  *ngIf="isAdmin()"  class="switch">
          <div [ngClass]="{'light-mode':lightMode}">
          <p-selectButton class="flexRow width__fit-content margin-left__auto" [options]="switchOptions" [(ngModel)]="switchValue" optionLabel="label" optionValue="value"></p-selectButton>
        </div>
        </div>
        <div *ngIf="switchValue == false" class="carousel-pc">
          <h4 style="margin:0px 0px 10px 10px;" [ngClass]="{'color-white':!lightMode}">Important news</h4> 
          <p-carousel [value] = "MynewsImportant" [circular]="false" [numVisible]="4" [autoplayInterval]="4000" [numScroll]="4" [responsiveOptions]="responsiveOptions">
            <ng-template let-news pTemplate="new">
              <app-promotion [subTitle]="news.title"
              [authorId] = "news.authorId"
              [Title]="news.description" 
              [Status]="news.priority"
              [Datum]="news.created"
              [ID]="news.id"
              [desc]="news.content"
              [isBlue]="true" [isBgBlue]="true" class="promotion" (valueEmitter2)="handleValue2(news)" (valueEmitter)="handleValue(news)">
              </app-promotion>
            </ng-template>
          </p-carousel>
        </div>

        <div *ngIf="switchValue == false" class="carousel-pc">
          <h4 style="margin:0px 0px 10px 10px;"   [ngClass]="{'light-mode':lightMode}" [ngClass]="{'color-white':!lightMode}">Regular news</h4> 
          <p-carousel [value] = "MynewsRegular" [circular]="false" [numVisible]="4" [autoplayInterval]="4000" [numScroll]="4" [responsiveOptions]="responsiveOptions">
            <ng-template let-news pTemplate="new">
              <app-promotion [subTitle]="news.title"
              [authorId] = "news.authorId"
              [Title]="news.description" 
              [Status]="news.priority"
              [Datum]="news.created"
              [ID]="news.id"
              [desc]="news.content"
              [isBlue]="true" [isBgBlue]="true" class="promotion" (valueEmitter2)="handleValue2(news)" (valueEmitter)="handleValue(news)">
              </app-promotion>
            </ng-template>
          </p-carousel>
        </div>
        <div *ngIf="switchValue == true"  class="carousel-pc">
          <h4 style="margin:0px 0px 10px 10px;"   [ngClass]="{'light-mode':lightMode,'color-white':!lightMode}">Important news</h4> 
          <p-carousel [value] = "newsImportant" [circular]="false" [numVisible]="4" [autoplayInterval]="4000" [numScroll]="4" [responsiveOptions]="responsiveOptions">
            <ng-template let-news pTemplate="new">
              <app-promotion [subTitle]="news.title"
              [desc]="news.content"
              [authorId] = "news.authorId"
              [Title]="news.description" 
              [Status]="news.priority"
              [Datum]="news.created"
              [ID]="news.id"
              [isBlue]="true" [isBgBlue]="true" class="promotion" (valueEmitter2)="handleValue2(news)" (valueEmitter)="handleValue(news)">
              </app-promotion>
            </ng-template>
          </p-carousel>
        </div>

        <div *ngIf="switchValue == true" class="carousel-pc">
          <h4 style="margin:0px 0px 10px 10px;"   [ngClass]="{'light-mode':lightMode,'color-white':!lightMode}">Regular news</h4> 
          <p-carousel [value] = "newsRegular" [circular]="false" [numVisible]="4"  [autoplayInterval]="4000" [numScroll]="4" [responsiveOptions]="responsiveOptions">
            <ng-template let-news pTemplate="new">
              <app-promotion [subTitle]="news.title"
              [desc]="news.content"
              [authorId] = "news.authorId"
              [Title]="news.description" 
              [Status]="news.priority"
              [Datum]="news.created"
              [ID]="news.id"
              [isBlue]="true" [isBgBlue]="true" class="promotion" (valueEmitter2)="handleValue2(news)" (valueEmitter)="handleValue(news)">
              </app-promotion>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>    
  

  </app-center-bar>

</standard-template>

  
<p-dialog [style]="{width:'40%'}" header="Title"  [transitionOptions]="'3ms'" [ngClass]="{'light-mode':lightMode, 'dark-mode':!lightMode}"
[draggable]="true" [keepInViewport]="true" [resizable]="false"  #addn
[blockScroll]="true" [closeOnEscape]="true" [dismissableMask]="true"  
[modal]="true" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
[closable]="true" >
<ng-template pTemplate="header" class="header-dialog">
  <span>Update news <i class="fa fa-info-circle" style="cursor:pointer" aria-hidden="true" (click)="op2.toggle($event)"></i></span>
  <p-overlayPanel #op2  [ngClass]="{'light-mode':lightMode, 'dark-mode':!lightMode}" [appendTo]="addn">
    <p style="width:350px">Dear user,</p> 
    <p style="width:350px">You must fill in all fields. If you don't select a news priority, it will be set as regular.</p>
  </p-overlayPanel>
</ng-template>

<ng-template pTemplate="content">
  <form [formGroup]="updataNewsForm" > 
  
    <div class="p-inputgroup p-inputtext-lg p-input-filled">
      <div class="half">
        <input formControlName="title" name="name" appendTo="body" type="text" class="p-inputtext-lg" placeholder="TITLE"> 
        <textarea id="text" formControlName="description" name="name" appendTo="body" type="text" class="p-inputtext-lg" style="width:100%;height: 250px;"  placeholder="Short description"></textarea>
        <div style="display: flex;flex-direction: column; align-items: center;margin-right: 4%;">
          <span style="font-size: 19px;color:gray">Priority:</span>
          <div style="display: inline-flex;">
            <input formControlName="priority" id="regular" type="radio"  value="Regular">
            <label for="regular" style="margin-top: 15px; margin-left: 5px;">Regular</label>
          </div>
          <div style="display: inline-flex;">
            <input formControlName="priority" id="important" type="radio"  value="Important">
            <label for="important" style="margin-top: 15px; margin-left: 5px;">Important</label>
          </div>
        </div>
      </div>
      <div class="half">
        <textarea style="margin-top:10px;" formControlName="description" placeholder="Description" id="text" formControlName="content" name="name" appendTo="body" type="text" class="p-inputtext-lg" style="width:100%;height: 100%;"></textarea>
      </div>
    </div> 
  </form>
  
</ng-template>

<ng-template pTemplate="footer" style="min-height:100px;" >
  <div class="button-div"><p-button type="button" class="footer-button"  label="Update" (click)="UpdateNews()" ></p-button>
</div>
</ng-template>
</p-dialog>

<p-dialog [style]="{width:'300px',height:'260px'}" header="Title"  [transitionOptions]="'3ms'" 
[draggable]="true" [keepInViewport]="true" [resizable]="false" 
[blockScroll]="true" [closeOnEscape]="true" [dismissableMask]="true"   [ngClass]="{'light-mode':lightMode, 'dark-mode':!lightMode}"
[modal]="true" [(visible)]="display2" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
[closable]="true"  >
<ng-template pTemplate="header" class="header-dialog">
  <span >Delete news</span>
</ng-template>

<ng-template pTemplate="center">
  <div class="delete-device-content">
  <span >Are you sure you want to delete this news?</span>
  </div>
</ng-template>

<ng-template pTemplate="footer" style="margin-top:30px;">
  <div class="flexRow">
  <div class="button-div">
    <p-button class="" label='Yes'  (click)="DeleteNews(TrenutniId)"></p-button>
    </div>
    <div class="remove-or-no">
    <p-button  label="No" (click)="display2=false"></p-button>
  </div>
</div>
</ng-template>

</p-dialog>