.main-grid {
    width: 100%;
    height:100%;
}

.image-div {
    width:100%;
    height:450px;
    background-color: cyan;
}

.promotions {
    width:100%;
}

.promotion
{
    width:90%;
    margin:5%;
    background: linear-gradient(180deg, #121212 50%, #0d0d0d 100%) ;
    display: inline-block;
    position:relative;
    flex-direction: row;
    height:87%;
}

.carousel {
    width:100% !important;
}
.carousels {
    margin-top:32px;
}
.switch {
    margin-bottom: 32px;
}
@media only screen and (max-width: 979px) {
    .carousels {
        margin-top:20px;
    }
    .switch {
        margin-bottom: 20px;
    }
}
