<standard-template>
    <app-title-bar>
      <h3>About us</h3>
    </app-title-bar>

  <app-center-bar>
    <div class="main-grid">
      <div class="image-div">
      </div>

      <div class="carousels">
        <div class="carousel-pc">
          <h3 style="margin:0px 0px 10px 10px;">News</h3> 
          <p-carousel [value] = "newsImportant" [circular]="false" [numVisible]="4" [autoplayInterval]="4000" [numScroll]="4">
            <ng-template let-news pTemplate="new" (*ngIf="news.title == 'Important'")>
              <app-promotion [subTitle]="news.title"
              [Title]="news.content" 
              [Status]="news.priority"
              [isBlue]="true" [isBgBlue]="true" class="promotion">
              </app-promotion>
            </ng-template>
          </p-carousel>
        </div>

        <div class="carousel-pc">
          <h3 style="margin:0px 0px 10px 10px;">News</h3> 
          <p-carousel [value] = "newsRegular" [circular]="false" [numVisible]="4" [autoplayInterval]="4000" [numScroll]="4">
            <ng-template let-news pTemplate="new">
              <app-promotion [subTitle]="news.title"
              [Title]="news.content" 
              [Status]="news.priority"
              [isBlue]="true" [isBgBlue]="true" class="promotion">
              </app-promotion>
            </ng-template>
          </p-carousel>
        </div>
        
        <div class="carousel"> 
          <h3 style="margin:0px 0px 10px 10px;">News</h3> 
          <p-carousel [value] = "newsRegular" [circular]="false" [numVisible]="1" [autoplayInterval]="4000" [numScroll]="1">
            <ng-template let-news pTemplate="new">
              <app-promotion [subTitle]="news.title"
              [Title]="news.content" 
              [Status]="news.priority"
              [isBlue]="true" [isBgBlue]="true" class="promotion">
              </app-promotion>
            </ng-template>
          </p-carousel>
        </div>

        
        <div class="carousel"> 
          <h3 style="margin:0px 0px 10px 10px;">News</h3> 
          <p-carousel [value] = "newsRegular" [circular]="false" [numVisible]="1" [autoplayInterval]="4000" [numScroll]="1">
            <ng-template let-news pTemplate="new">
              <app-promotion [subTitle]="news.title"
              [Title]="news.content" 
              [Status]="news.priority"
              [isBlue]="true" [isBgBlue]="true" class="promotion">
              </app-promotion>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>          
  </app-center-bar>

</standard-template>
  