<standard-template>
    <app-title-bar>
      <h3>News</h3>
    </app-title-bar>
    <app-center-bar *ngIf="loader"><app-loader></app-loader></app-center-bar>
    <app-center-bar *ngIf="!loader">
    <div class="main-grid">
      <div class="image-div">
      </div>

      <div class="carousels" >
        <div  *ngIf="isAdmin()"  class="switch">
          <p-selectButton class="flexRow width__fit-content margin-left__auto" [options]="switchOptions" [(ngModel)]="switchValue" optionLabel="label" optionValue="value"></p-selectButton>

        </div>
        <div *ngIf="switchValue == false" class="carousel-pc">
          <h4 style="margin:0px 0px 10px 10px;">Important news</h4> 
          <p-carousel [value] = "MynewsImportant" [circular]="false" [numVisible]="4" [autoplayInterval]="4000" [numScroll]="4" [responsiveOptions]="responsiveOptions">
            <ng-template let-news pTemplate="new">
              <app-promotion [subTitle]="news.title"
              [Title]="news.content" 
              [Status]="news.priority"
              [Datum]="news.created"
              [ID]="news.id"
              [isBlue]="true" [isBgBlue]="true" class="promotion">
              </app-promotion>
            </ng-template>
          </p-carousel>
        </div>

        <div *ngIf="switchValue == false" class="carousel-pc">
          <h4 style="margin:0px 0px 10px 10px;">Regular news</h4> 
          <p-carousel [value] = "MynewsRegular" [circular]="false" [numVisible]="4" [autoplayInterval]="4000" [numScroll]="4" [responsiveOptions]="responsiveOptions">
            <ng-template let-news pTemplate="new">
              <app-promotion [subTitle]="news.title"
              [authorId] = "news.authorId"
              [Title]="news.content" 
              [Status]="news.priority"
              [Datum]="news.created"
              [ID]="news.id"
              [isBlue]="true" [isBgBlue]="true" class="promotion">
              </app-promotion>
            </ng-template>
          </p-carousel>
        </div>
        <div *ngIf="switchValue == true"  class="carousel-pc">
          <h4 style="margin:0px 0px 10px 10px;">Important news</h4> 
          <p-carousel [value] = "newsImportant" [circular]="false" [numVisible]="4" [autoplayInterval]="4000" [numScroll]="4" [responsiveOptions]="responsiveOptions">
            <ng-template let-news pTemplate="new">
              <app-promotion [subTitle]="news.title"
              [authorId] = "news.authorId"
              [Title]="news.content" 
              [Status]="news.priority"
              [Datum]="news.created"
              [ID]="news.id"
              [isBlue]="true" [isBgBlue]="true" class="promotion">
              </app-promotion>
            </ng-template>
          </p-carousel>
        </div>

        <div *ngIf="switchValue == true" class="carousel-pc">
          <h4 style="margin:0px 0px 10px 10px;">Regular news</h4> 
          <p-carousel [value] = "newsRegular" [circular]="false" [numVisible]="4" [autoplayInterval]="4000" [numScroll]="4" [responsiveOptions]="responsiveOptions">
            <ng-template let-news pTemplate="new">
              <app-promotion [subTitle]="news.title"
              [authorId] = "news.authorId"
              [Title]="news.content" 
              [Status]="news.priority"
              [Datum]="news.created"
              [ID]="news.id"
              [isBlue]="true" [isBgBlue]="true" class="promotion">
              </app-promotion>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>          
  </app-center-bar>

</standard-template>
  