body{
    background: linear-gradient(180deg,#121212 60%, #090909 100% ) ;
  }
  .login {
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat:repeat;
    
  }
  
  .login_box {
    width: 1050px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    box-shadow: 5px 5px 15px black;
    background: linear-gradient(180deg, #1e1e1e 30%, #121212 100%) ;
  }
  
  .login_box .left {
    width: 41%;
    height: 100%;
    padding: 25px 25px;
  
  }
  
  .back-arrow {
    position: fixed;
    left: 20px;
    top:20px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    z-index: 10;
  }
  
  .back-arrow:hover {
    color:#5245b7;
  }
  
  
  .login_box .right {
    width: 59%;
    height: 100%;
  }
  
  .left .top_link a {
    color: #1d5f6b;
    font-weight: 400;
  }
  
  .left .top_link {
    height: 20px;
  }
  
  .left .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
  
  }
  
  
  .left h3 {
    color: white;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bolder;
  }
  
  .left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #787878;
    border-image: linear-gradient(45deg, #46c5f1 10%, #5245b7 100%) 1;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
  }
  
  .left {
    background: linear-gradient(180deg, #1e1e1e 30%, #121212 100%) ;
  }
  
  .submit {
    border: none;
    padding: 8px 50px;
    border-radius: 32px;
    display: block;
    margin: auto;
    margin-top:150px;
    background: linear-gradient(45deg, #46c5f1 10%, #5245b7 100%);
    color: #fff;
    font-weight:bolder;
    box-shadow: 2px 2px 10px  black;
  }
  
  .submit:hover{
    span {
      background: -webkit-linear-gradient(45deg, #46c5f1 10%, #5245b7 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    background: none;
    box-shadow: none;
  }
  
  .right {
    background: linear-gradient(45deg, #46c6f185 10%, #5245b78f 100%),
    url('/assets/images/logo-images/loginImage_2.png');
    color: #fff;
    position: relative;
    background-size: 650px 600px;
  }
  
  .right .right-text {
    height: 100%;
    position: relative;
    transform: translate(0%, 45%);
  }
  
  .right-text h2 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
  }
  
  .right-text h5 {
    display: block;
    width: 60%;
    text-align: center;
    font-size: 29px;
    font-weight: 400;
    margin:auto;
    font-weight:bolder;
  }
  
  i{
    float:right;
  }
  
  @media only screen and (min-width: 768px) {
    .login_box {
      max-width: 100%;
    }
  
  
    .left input {
      max-width: 100%;
    }
  
    .right-text h2 {
      font-size: 2.5rem;
    }
  
    .right-text h5 {
      font-size: 1.5rem;
    }
  }
  
  
  @media (max-width: 743px) {
    body{
      display: flex;
      justify-content: center; /* new CSS */
      align-items: center; 
      background: -webkit-linear-gradient(45deg, #46c5f1 10%, #5245b7 100%);
    }
  
    .right{
      display: none;
    }
  
    .login_box{
      flex-direction: column;
      height: auto;
      width: 90%;
      padding: 25px;
      display: flex;
      justify-content: center; /* new CSS */
      align-items: center; 
      top:45%;
    }
  
    .login{
      width: 85%;
    }
  
    .left {
      height: auto;
      padding-right: 0;
    }
  
    .left input {
      
      width:230px;
    }
  
    .submit {
      padding: 7px 40px;
    }
  
    
  }
  