<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  
<body>
	<section class="login">
		<div class="login_box">
			<div class="left">
				<div class="contact">
					<form [formGroup]="loginForm" >
						<h3>SIGN IN</h3>
						<input formControlName="email" type="text" placeholder="EMAIL" name="email">
						<small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')" class="danger" style="color: rgb(182, 126, 126);">Morate uneti username</small>
						<input formControlName="password" [type]="type" placeholder="PASSWORD" name="password">
						<small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="danger" style="color: rgb(182, 126, 126);">Morate uneti password</small>
						<i (click)="hideShowPass()" class="{{eyeIcon}}" style="color:white"></i>
						<button (click)="onLogin()" class="submit">LET'S GO</button>
					</form>
				</div>
			</div>
			<div class="right">
				<div class="right-text">
					<h5>Power up your life, but don’t forget to power up your safety</h5>
				</div>
			</div>
		</div>
	</section>
</body>