body{
  background-color: #56857e;
}

.login {
  height: 100vh;
  width: 100%;
  position: relative;
}

.login_box {
  width: 1050px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 4px 22px -8px #0004;
  display: flex;
  overflow: hidden;
}

.login_box .left {
  width: 41%;
  height: 100%;
  padding: 25px 25px;

}

.login_box .right {
  width: 59%;
  height: 100%;
}

.left .top_link a {
  color: #1d5f6b;
  font-weight: 400;
}

.left .top_link {
  height: 20px;
}

.left .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 100%;
  width: 73%;
  margin: auto;

}


.left h3 {
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.left input {
  border: none;
  width: 80%;
  margin: 15px 0px;
  border-bottom: 1px solid #787878;
  padding: 7px 9px;
  width: 100%;
  overflow: hidden;
  background: transparent;
  font-weight: 600;
  font-size: 14px;
}

.left {
  background: linear-gradient( #222222, #222222);
}

.submit {
  border: none;
  padding: 15px 70px;
  border-radius: 8px;
  display: block;
  margin: auto;
  margin-top: 120px;
  background: #56857e;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 0px 9px 15px -11px #56857e;
  -moz-box-shadow: 0px 9px 15px -11px #56857e;
  box-shadow: 0px 9px 15px -11px #56857e;
}

.right {
  background: linear-gradient(180deg, rgba(115, 185, 151, 0.54) -15.29%, #252525 100%),
  url('/assets/images/logo-images/loginImage_2.png');
  color: #fff;
  position: relative;
  background-size: 650px 600px;
}

.right .right-text {
  height: 100%;
  position: relative;
  transform: translate(0%, 45%);
}

.right-text h2 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}

.right-text h5 {
  display: block;
  width: 50%;
  text-align: center;
  font-size: 29px;
  font-weight: 400;
  margin-left: 150px;
}

i{
  float:right;
}

